<div style="background-color: white;">
    <!-- <p-chips [formControl]="values" class="chipsOne" [max]="max" placeholder="ابحث هنا..." /> -->
    <h2 class="guardian" dir="rtl">أولياء الأمور</h2>
    <div class="group group2">
        @for (guardian of guardians; track $index) {
        <div class="form-control">
            <p-card class="responsive-card">
                <ng-template pTemplate="header">
                    <img alt="Card" class="image" src="./../../../../../assets/img/user.png" />
                </ng-template>
                <div class="card-content">
                    الاسم: {{guardian.fullName}} <br>
                    <hr>
                    عدد الطلاب:{{guardian.studentCount}} <br>
                    النوع:{{guardian.gender}} <br>
                    المرحلة:الثانية <br>
                    الرسوم المطلوبة:{{guardian.requiredFee}} <br>
                    الرسوم المدفوعة:{{guardian.piad}} <br>
                    الرسوم المتبقية:{{guardian.remaining}} <br>
                    الهاتف:{{guardian.phone}} العنوان:{{guardian.address}} <br>
                    العمر:{{guardian.dob | date: 'yyyy-MM-dd'}} AccountID:{{guardian.accountId}} <br>
                    <hr>
  
                </div>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="الرسوم" class="w-full" styleClass="custom-button" />
                    </div>
                </ng-template>
            </p-card>
        </div>
        }
    </div>
</div>