<div class="employee-form-container">
    <h2>بيانات الموظف</h2>

    <div class="form-actions">
        <p-button class="btn-save" variant="outlined" severity="success"
            (click)="mode === 'add' ? AddEmployee() : UpdateEmployee()"
            [label]="mode === 'add' ? 'حفظ الموظف' : 'تعديل الموظف'">
        </p-button>
    </div>

    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">معلومات الموظف</p-tab>
            <p-tab value="1">معلومات اختيارية</p-tab>
        </p-tablist>

        <p-tabpanels [formGroup]="form">
            <p-tabpanel value="0">
                <div class="employee-form">
                    <div class="grid p-fluid">
                        <div class="form-row col-12 md:col-6">
                            <p-floatLabel  variant="on">
                                <input pInputText formControlName="firstName" id="firstName" type="text"
                                    placeholder=" " />
                                <label for="firstName">الاسم الأول</label>
                            </p-floatLabel>
                        </div>

                        <div class="form-row col-12 md:col-6">
                            <p-floatLabel  variant="on">
                                <input pInputText formControlName="lastName" id="lastName" type="text"
                                    placeholder=" " />
                                <label for="lastName">الاسم الأخير</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <div class="grid p-fluid">
                        <div class="form-row col-12 md:col-4">
                            <p-floatLabel  variant="on">
                                <p-select formControlName="gender" [options]="genders" optionLabel="name"
                                    optionValue="value" [editable]="true" [checkmark]="true" [showClear]="true"
                                    id="gender" class="w-full" />
                                <label for="gender">الجنس *</label>
                            </p-floatLabel>
                        </div>

                        <div class="form-row col-12 md:col-4">
                            <p-floatLabel  variant="on">
                                <p-select formControlName="jopName" [options]="employeeTypes" optionLabel="name"
                                    optionValue="value" [editable]="true" [checkmark]="true" [showClear]="true"
                                    id="jopName" class="w-full" />
                                <label for="jopName">نوع الموظف *</label>
                            </p-floatLabel>
                        </div>

                        <div class="form-row col-12 md:col-4">
                            <p-floatLabel  variant="on">
                                <input pInputText formControlName="dob" id="dob" type="date" class="w-full" />
                                <label for="dob">تاريخ الميلاد *</label>
                            </p-floatLabel>
                        </div>
                    </div>
                </div>
            </p-tabpanel>

            <p-tabpanel value="1">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-6">
                        <p-floatLabel >
                            <input pInputText formControlName="birthPlace" id="birthPlace" type="text"
                                placeholder=" " />
                            <label for="birthPlace">مكان الميلاد</label>
                        </p-floatLabel>
                    </div>

                    <div class="col-12 md:col-6">
                        <p-floatLabel  variant="on">
                            <input pInputText formControlName="address" id="address" type="text" placeholder=" " />
                            <label for="address">العنوان *</label>
                        </p-floatLabel>
                    </div>

                    <div class="col-12 md:col-6">
                        <p-floatLabel  variant="on">
                            <input pInputText formControlName="mobile" id="mobile" type="text" placeholder=" " />
                            <label for="mobile">رقم الهاتف</label>
                        </p-floatLabel>
                    </div>

                    <div class="col-12 md:col-6">
                        <p-floatLabel  variant="on">
                            <input pInputText formControlName="email" id="email" type="email" placeholder=" " />
                            <label for="email">البريد الإلكتروني</label>
                        </p-floatLabel>
                    </div>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>