<form class="example-form">
  <div class="group group1" [formGroup]="formGroup">
    <div class="form-control">
      <mat-form-field class="inputText">
        <mat-label>إجمالي الرسوم</mat-label>
        <input class="input1" disabled value="50000" type="text" matInput />
      </mat-form-field>
    </div>
    <div class="form-control">
      <mat-form-field class="inputText">
        <mat-label>إجمالي الخصومات</mat-label>
        <input class="input1" disabled value="20000" type="text" matInput />
      </mat-form-field>
    </div>
    <div class="form-control">
      <mat-form-field class="inputText">
        <mat-label>الرسوم المطلوبة</mat-label>
        <input class="input1" disabled value="30000" type="text" matInput />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>إختار الصـف</mat-label>
      <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" />
      <!-- Cancel Icon -->
      <label class="dropdown13">x </label>
      <label class="cancel" *ngIf="isOptionSelected" (click)="clearSelection()">
        ✖
      </label>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>
<p class="writeMoney">المبلغ المتوجب دفعة كتابة:</p>
<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th class="ID-colum">#</th>
        <th>بند الرسوم</th>
        <th>المبلغ</th>
        <th>إدراج خصم بالمبلغ</th>
        <th>ملاحظة الخصم</th>
        <th>الصف</th>
        <th class="selected-colum">إختيار</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="ID-colum">1</td>
        <td>رسوم تسجيل</td>
        <td>50000</td>
        <td>
          <input class="InCount" type="number">
        </td>
        <td>
          <input class="Note" type="text">
        </td>
        <td>أول</td>
        <td>
          <label>
            <input type="checkbox">
            <span class="custom-checkbox"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="ID-colum">1</td>
        <td>رسوم تسجيل</td>
        <td>50000</td>
        <td>
          <input class="InCount" type="text">
        </td>
        <td>
          <input class="Note" type="text">
        </td>
        <td>أول</td>
        <td>
          <label>
            <input type="checkbox">
            <span class="custom-checkbox"></span>
          </label>
        </td>
      </tr>
      <tr>
        <td class="ID-colum">1</td>
        <td>رسوم تسجيل</td>
        <td>50000</td>
        <td>
          <input class="InCount" type="text">
        </td>
        <td>
          <input class="Note" type="text">
        </td>
        <td>أول</td>
        <td>
          <label>
            <input type="checkbox">
            <span class="custom-checkbox"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
