<div class="Fee" [attr.dir]="languageService.dir">
    <h2 class="school">إعدادات الرسوم</h2>
    <p-paginator dir="ltr" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
        [totalRecords]="FeeClass.length" [rowsPerPageOptions]="[4, 8, 16]" />
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <!-- Tab 1: بند الرسوم -->
        <mat-tab label="بند الرسوم">
            <form #feeForm="ngForm">
                <div class="group">
                    <!-- Input for Fee Name -->
                    <div class="form-control">
                        <mat-form-field appearance="outline" class="inputText">
                            <mat-label>إدخل بند رسوم جديد</mat-label>
                            <input class="inputError " type="text" name="feeName" [(ngModel)]="Addfee.feeName"
                                #feeName="ngModel" matInput required />
                        </mat-form-field>

                        @if (feeName.invalid && feeName.touched) {
                        <p class="error"> اسم بند الرسوم مطلوب</p>
                        }
                    </div>
                    <!-- Input for Notes -->
                    <div class="form-control control2">
                        <mat-form-field appearance="outline" class="inputText">
                            <mat-label>ملاحظة</mat-label>
                            <input class="inputError" type="text" name="note" [(ngModel)]="Addfee.note"
                                #feeNote="ngModel" matInput />
                        </mat-form-field>
                    </div>
                    <!-- Submit Button -->
                    <button mat-raised-button color="primary" type="submit"
                        [ngClass]="languageService.dir==='rtl'?'AddEn':'add'" class="school-btn"
                        [disabled]="feeForm.invalid" (click)="onSubmit(feeForm)">
                        {{ editMode ? 'تعديل' : 'إضافة+' }}
                    </button>


                </div>
            </form>

            <div class="table-container">
                <mat-card>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>اسم البند</th>
                                <th>الاسم البديل</th>
                                <th>تاريخ الإنشاء</th>
                                <th>الملاحظة</th>
                                <th>الحالة</th>
                                <th>العملية</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (fee of Fees; track $index) {

                            <tr>
                                <td>{{ $index + 1 }}</td>
                                <td>{{ fee.feeName }}</td>
                                <td>{{ fee.feeNameAlis }}</td>
                                <td>{{ fee.hireDate|date:"dd-MM-yyyy" }}</td>
                                <td>{{ fee.note }}</td>
                                <td>{{ fee.state }}</td>
                                <td>
                                    <div class="col text-left">
                                        <div class="mt-sm-0 mt-2">
                                            <button class="btn btn-left"
                                                [ngClass]="{'btnEn': languageService.dir==='rtl'}" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <a class="dropdown-item" (click)="editFee(fee)">
                                                    <i class="bi bi-pencil-square IconEdit"></i>تعديل
                                                </a>

                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" (click)="deleteFee(fee.feeID)"><i
                                                        class="bi bi-trash IconDelete"></i>حذف</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </mat-card>
            </div>
        </mat-tab>

        <!-- Tab 2: رسوم الصفوف -->
        <mat-tab label="رسوم الصفوف">
            <form #classFeeForm="ngForm" (ngSubmit)="onSubmitClassFee(classFeeForm)">
                <div class="group">
                    <!-- Class Selector -->
                    <div class="form-control1">
                        <p-dropdown [options]="classDTO" [(ngModel)]="FeeClassDTO.classID" name="classID"
                            optionLabel="className" optionValue="classID" placeholder="إختار الصـف" [showClear]="true"
                            (onChange)="getFeeClassByID(FeeClassDTO.classID, FeeClassDTO.feeID)" required>
                        </p-dropdown>

                    </div>
                    <!-- Fee Selector -->
                    <div class="form-control1">
                        <p-dropdown [options]="Fees" [(ngModel)]="FeeClassDTO.feeID" name="feeID" optionLabel="feeName"
                            optionValue="feeID" placeholder="إختار بند الرسوم" [showClear]="true"
                            [ngClass]="{'en': languageService.dir==='ltr'}"
                            (onChange)="getFeeClassByID(FeeClassDTO.classID, FeeClassDTO.feeID)" required>
                        </p-dropdown>
                    </div>
                  
                    <div *ngIf="exist" class="error">هذا الصف يحتوي على نفس البند</div>
                    <!-- Amount -->
                    <div class="form-control">
                        <mat-form-field appearance="outline" class="inputText">
                            <mat-label>المبلغ</mat-label>
                            <input class="inputError" type="number" name="amount" [(ngModel)]="FeeClassDTO.amount"
                                #amount="ngModel" matInput required />
                            @if (amount.invalid && amount.touched) {
                            <div class="error">يجب إدخال مبلغ</div>
                            }
                        </mat-form-field>
                    </div>
                    <!-- Submit Button -->
                    <button mat-raised-button color="primary" type="submit" class="school-btn"
                        [ngClass]="languageService.dir==='rtl'?'AddEn':'add'" [disabled]="classFeeForm.invalid||exist"
                        [ngClass]="classFeeForm.invalid||exist?'disabledAdd':'add'" >
                        {{ editModeClass ? 'تعديل' : 'إضافة+' }}
                    </button>

                </div>
            </form>
            <div class="table-container">
                <mat-card>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>بند رسوم</th>
                                <th>المبلغ</th>
                                <th>الصـف</th>
                                <th>العام الدراسي</th>
                                <th>إلزامي</th>
                                <th>العملية</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (fee of paginatedClassFee; track $index) {
                            <tr>
                                <td>{{ $index+ 1 }}</td>
                                <td>{{ fee.feeName }}</td>
                                <td>{{ fee.amount }}</td>
                                <td>{{ fee.className }}</td>
                                <td>{{ fee.classYear|date:"dd-MM-yyyy" }}</td>
                                <td>{{ fee.mandatory }}</td>
                                <td>
                                    <div class="col text-left">
                                        <div class="mt-sm-0 mt-2">
                                            <button class="btn btn-left" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <!-- when I click here chage in the form from "إضافة" to be like "تعديل"  -->
                                                <a class="dropdown-item" (click)="editFeeClass(fee)">
                                                    <i class="bi bi-pencil-square IconEdit"></i> تعديل
                                                </a>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" (click)="deleteFeeClass(fee.feeClassID)"><i
                                                        class="bi bi-trash IconDelete"></i>حذف</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }@empty {
                            <p>there is no data</p>
                            }
                        </tbody>
                    </table>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>