<app-progress-spinner [visible]="isLoading"></app-progress-spinner>
<div class="Fee" [attr.dir]="languageService.dir">
    <h2 class="school">إعدادات الرسوم</h2>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <!-- Tab 1: بند الرسوم -->
        <mat-tab label="بند الرسوم">
            <form #feeForm="ngForm">
                <div class="group">
                    <!-- Input for Fee Name -->
                    <div class="form-control">

                        <p-floatlabel class="h-3rem mb-3 mt-2" variant="on">
                            <input class="inputError w-full h-3rem" type="text" name="feeName" pInputText id="fee"
                                [(ngModel)]="Addfee.feeName" autocomplete="off" required />
                            <label for="fee">إدخل بند رسوم</label>
                        </p-floatlabel>
                    </div>
                    <!-- Input for Notes -->
                    <div class="form-control control2">
                        <p-floatlabel class="h-3rem mb-3 mt-2" variant="on">
                            <input class="inputError w-full h-3rem" name="feeName" pInputText id="fee" type="text"
                                name="note" [(ngModel)]="Addfee.note" autocomplete="off" />
                            <label for="fee">ملاحظة</label>
                        </p-floatlabel>
                    </div>
                    <!-- Submit Button -->

                    <p-button variant="outlined" severity="success" type="submit"
                        [ngClass]="languageService.dir==='rtl'?'AddEn':'add'" class="btn" [disabled]="feeForm.invalid"
                        (click)="onSubmit(feeForm)" label="{{ editMode ? 'تعديل' : 'إضافة+' }}" />


                </div>
            </form>

            <div class="table-container">
                <mat-card>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>اسم البند</th>
                                <th>الاسم البديل</th>
                                <th>تاريخ الإنشاء</th>
                                <th>الملاحظة</th>
                                <th>الحالة</th>
                                <th>العملية</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (fee of Fees; track $index) {

                            <tr>
                                <td>{{ $index + 1 }}</td>
                                <td>{{ fee.feeName }}</td>
                                <td>{{ fee.feeNameAlis }}</td>
                                <td>{{ fee.hireDate|date:"dd-MM-yyyy" }}</td>
                                <td>{{ fee.note }}</td>
                                <td>
                                    <button class="active" (click)="changeFee(fee)">
                                      <i class="bi bi-record-circle" [ngStyle]="{'color': fee.state ? '#2fdf85':'red'}">
                                      </i>
                                      {{ fee.state ? 'نشط' : 'غير نشط' }}
                                      <span class="bi bi-caret-down-fill"></span>
                                    </button>
                                  </td>
                                <td>
                                    <div class="col text-left">
                                        <div class="mt-sm-0 mt-2">
                                            <button class="btn btn-left"
                                                [ngClass]="{'btnEn': languageService.dir==='rtl'}" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <a class="dropdown-item" (click)="editFee(fee)">
                                                    <i class="bi bi-pencil-square IconEdit"></i>تعديل
                                                </a>

                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" (click)="deleteFee(fee.feeID)"><i
                                                        class="bi bi-trash IconDelete"></i>حذف</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </mat-card>
            </div>
        </mat-tab>

        <!-- Tab 2: رسوم الصفوف -->
        <mat-tab label="رسوم الصفوف">
            <form #classFeeForm="ngForm" (ngSubmit)="onSubmitClassFee(classFeeForm)">
                <div class="group">
                    <!-- Class Selector -->
                    <div class="form-control1">
                        <p-floatlabel class="w-full md:w-56" variant="on">
                            <p-select class="h-3rem" [(ngModel)]="FeeClassDTO.classID" [options]="classDTO"
                                optionLabel="className" name="classID"
                                (onChange)="getFeeClassByID(FeeClassDTO.classID, FeeClassDTO.feeID)"
                                optionValue="classID" [checkmark]="true" [editable]="true" [showClear]="true"
                                required />
                            <label for="Class">إختار الصف</label>
                        </p-floatlabel>

                    </div>
                    <!-- Fee Selector -->
                    <div class="form-control1">
                        <p-floatlabel class="w-full md:w-56" variant="on">
                            <p-select class="h-3rem" [options]="Fees" [(ngModel)]="FeeClassDTO.feeID" name="feeID"
                                optionLabel="feeName" optionValue="feeID" [showClear]="true"
                                [ngClass]="{'en': languageService.dir==='ltr'}"
                                (onChange)="getFeeClassByID(FeeClassDTO.classID, FeeClassDTO.feeID)" [checkmark]="true"
                                [editable]="true" [showClear]="true" required />
                            <label for="Class">إختار بند الرسوم</label>
                        </p-floatlabel>
                    </div>

                    <div *ngIf="exist" class="error">هذا الصف يحتوي على نفس البند</div>
                    <!-- Amount -->
                    <div class="form-control">
                        <p-floatlabel class="h-3rem mb-3 mt-2" variant="on">
                            <input class="inputText w-full h-3rem" name="amount" pInputText id="amount" type="number"
                                name="note" #amount="ngModel" [(ngModel)]="FeeClassDTO.amount" autocomplete="off"
                                required />
                            <label for="amount">المبلغ</label>
                            @if (amount.invalid && amount.touched) {
                            <div class="error">يجب إدخال مبلغ</div>
                            }
                        </p-floatlabel>

                    </div>
                    <!-- Submit Button -->
                    <p-button variant="outlined" severity="success" type="button"
                        (click)="onSubmitClassFee(classFeeForm)" [ngClass]="languageService.dir==='rtl'?'AddEn':'add'"
                        class="btn" [disabled]="classFeeForm.invalid||exist"
                        label="{{ editModeClass ? 'تعديل' : 'إضافة+' }}" />

                </div>
            </form>
            <div class="table-container">
                <mat-card>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>بند رسوم</th>
                                <th>المبلغ</th>
                                <th>الصـف</th>
                                <th>العام الدراسي</th>
                                <th>إلزامي</th>
                                <th>العملية</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (fee of paginatedClassFee; track $index) {
                            <tr>
                                <td>{{ $index+ 1 }}</td>
                                <td>{{ fee.feeName }}</td>
                                <td>{{ fee.amount }}</td>
                                <td>{{ fee.className }}</td>
                                <td>{{ fee.classYear|date:"dd-MM-yyyy" }}</td>
                                <td>
                                    <button class="active" (click)="changeFeeClass(fee)">
                                      <i class="bi bi-record-circle" [ngStyle]="{'color': fee.mandatory ? '#2fdf85':'red'}">
                                      </i>
                                      {{ fee.mandatory ? 'نشط' : 'غير نشط' }}
                                      <span class="bi bi-caret-down-fill"></span>
                                    </button>
                                  </td>
                                <td>
                                    <div class="col text-left">
                                        <div class="mt-sm-0 mt-2">
                                            <button class="btn btn-left" type="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left">
                                                <!-- when I click here chage in the form from "إضافة" to be like "تعديل"  -->
                                                <a class="dropdown-item" (click)="editFeeClass(fee)">
                                                    <i class="bi bi-pencil-square IconEdit"></i> تعديل
                                                </a>
                                                <div role="separator" class="dropdown-divider"></div>
                                                <a class="dropdown-item" (click)="deleteFeeClass(fee.feeClassID)"><i
                                                        class="bi bi-trash IconDelete"></i>حذف</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }@empty {
                            <p>there is no data</p>
                            }
                        </tbody>
                    </table>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
    <p-paginator dir="ltr" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
        [totalRecords]="FeeClass.length" [rowsPerPageOptions]="[4, 8, 16]" />
</div>