.page-header {
  border-radius: 9px;
  margin-bottom: 16px;
}
.english {
  .page-header {
    margin-top: 1.4rem !important;
  }
}
.page-header li {
  margin-top: 12px;
}
@media (max-width: 900.98px) {
  .page-header {
    display: none;
  }
}
:host ::ng-deep {
  .p-breadcrumb {
    background-color: #eceff6 !important;
    border: 1px solid #c0c0c0 !important;
  }
}
:host ::ng-deep .p-breadcrumb-separator .p-icon:dir(rtl) {
   transform: rotate(0deg)!important; 
}