<div class="NewYear">
    <div id="guardian" class="group5">
        <!-- Group 1: Guardian's Full Name and Relationship -->
        <div class="group group1">
            <div class="form-control">
                <div class="techear">
                    <mat-form-field appearance="outline" class="inputText">
                        <mat-label>العام الدارسي</mat-label>
                        <input class="inputError" type="text" matInput />
                    </mat-form-field>
                </div>
            </div>
            <div class="form-control control2">
                <mat-form-field appearance="outline" class="inputText">
                    <mat-label>تاريخ الإنشاء</mat-label>
                    <input class="inputError" type="date" matInput />
                </mat-form-field>
            </div>
        </div>
    </div>
    <div id="guardian" class="group5">
        <div class="group group1">
            <div class="form-control">
                <div class="techear">
                    <mat-form-field appearance="outline" class="inputText">
                        <mat-label>ملاحظة</mat-label>
                        <textarea matInput placeholder="ثلاثة حروف على الأقل"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>