<div class="NewYear">
    <button class="close-btn" (click)="closeModal()">×</button>
    <h2 class="school">إعدادات الرسوم</h2>
    <div id="guardian" class="group5">
        <!-- Group 1: Guardian's Full Name and Relationship -->
        <div class="group group1">
            <div class="form-control">
                <div class="techear">
                    <mat-form-field appearance="outline" class="inputText">
                        <mat-label>إدخل بند رسوم جديد</mat-label>
                        <input class="inputError" type="email" matInput />
                    </mat-form-field>
                </div>
            </div>
            <div class="form-control control2">
                <mat-form-field appearance="outline" class="inputText">
                    <mat-label>رسم الصـفوف</mat-label>
                    <input class="inputError" type="email" matInput />
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" class="add">
                إضافة+
            </button>
        </div>
    </div>
</div>