.NewYear{
    background-color: white;
    border-radius: 5px;
}
//this button to close the dailog
.close-btn {
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: 30px;
    font-weight: bold;
    color: #443838;
    border: 2px solid #e9d9d9;
    border-radius: 49px;
    cursor: pointer;
  }
  .close-btn:hover{
    color:red;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .school{
    direction: rtl;
    color:black;
    font-style:bold;
    margin:4px 6px;
    padding: 1rem;
  }
  mat-tab-group{
    background-color: white;
    padding: 1rem;
  }
 :host ::ng-deep mat-tab-header{
    border-bottom: 1.8px solid #676767!important;
  }
  mat-form-field {
    margin-right: 1rem;
    margin-top: 1rem
  }

 :host ::ng-deep .mdc-tab-indicator__content{
    border-color: #2fdf84!important;
  }
  .inputText {
    width: 92%;
  }
  .example-full-width {
    width: 10%;
  }
  
:host
::ng-deep
.mdc-text-field--outlined.mdc-text-field--focused
.mdc-notched-outline__leading {
border-color: #2fdf85 !important;
// box-shadow: 0 0 5px 0 #2fdf85!important;
border-width: 2px 2px 2px 0 !important;
transition: border-color 0.2s;
}
:host
::ng-deep
.mdc-text-field--outlined.mdc-text-field--focused
.mdc-notched-outline__trailing {
border-color: #2fdf85 !important;
// box-shadow: 0 0 5px 0 #2fdf85!important;
border-width: 2px 0 2px 2px !important;
transition: border-color 0.2s;
}
:host
::ng-deep.mdc-text-field--outlined.mdc-text-field--focused
.mdc-notched-outline__notch {
border-color: #2fdf85 !important;
// box-shadow: 2px 0 5px 0 #2fdf85!important;
border-width: 2px 0 2px 0 !important;
transition: border-color 0.2s;
}

  .group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  .group5 {
    margin-top: 1rem;
  }
  .form-control {
    display: flex;
    border: none;
    width: 67%;
    flex-direction: column;
    gap: 5px; /* Space between label and input */
  }
  .form-control2 {
    display: flex;
    border: none;
    width: 55%;
    flex-direction: column;
    gap: 5px; /* Space between label and input */
  }
  
  label {
    color: #333;
  }

  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    .group {
      grid-template-columns: 1fr;
    }
  
    label {
      font-size: 0.9rem;
    }
  
    input,
    select {
      font-size: 0.9rem;
    }
  
    button {
      width: 100%;
      text-align: center;
    }
    .control2{
        position: relative;
        right: 0rem!important;
    }
    .control3{
        position: relative;
        right: 0rem!important;
    }
  }
  
.add {
    position: absolute;
    top: 2rem;
    width: 11%;
    border-radius: 32px;
    left: 1rem;
    padding: 8px 0;
    border: none;
    color: white;
    background-color: #2fdf84;
  }
  .add:active {
    background-color: #2fdf85;
  }

  