.title {
  padding: 1rem 1rem 0 0;
}
.add {
  background-color: #12a212;
}
:host ::ng-deep {
  .cPaginator {
    position: absolute;
    margin-top: 7rem;
    left: 0%;
  }
}
.update {
  position: relative;
  left: 2rem;
}
.dropdown-item {
  cursor: pointer;
}

.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 0.2fr));
  gap: 20px;
}

.container {
  margin-top: -2rem;
}
.form-control {
  display: flex;
  border: none;
  flex-direction: column;
  gap: 5px; /* Space between label and input */
}

.showFee {
  position: relative;
  right: 88%;
  top: -5rem;
}

.typing {
  margin-right: 5rem;
  background-color: white;
  color: black;
}
//disply _____________________________________________________________________
.modal-container {
  background-color: white;
}