<div class="container" id="voucherContent">
  <div class="button-container">
    <button pButton [icon]="changeView ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
      class="p-button-rounded p-button-text" (click)="toggleDiv()">
    </button>
    <h4 class="Title">سند قبض جديد</h4>
    <!-- Add button, disable after submission -->
    <button class="button add" (click)="voucherData?updateVoucher():addVoucher(formGroup)">
      {{voucherData?"تعديل":"إضافة"}}
    </button>

    <button class="button1 typing" (click)="printVoucher()">طباعة</button> <!-- Print button -->
    <img class="image-header" src="assets/img/user.png" alt="photo">
  </div>

  <div class="content" id="reportVoucher">

    <p-panel header="فلترة حسابات أولياء الأمور">
      <form [formGroup]="formGroup" class="form">
        <div class="group group1">
          <div class="form-control">
            <p-floatLabel>
              <p-dropdown [options]="accounts" [(ngModel)]="selectedAccount"
                (ngModelChange)="setAccountStudentGuardianID($event)" formControlName="accountStudentGuardianID"
                optionLabel="accountName" [checkmark]="true" [editable]="true" [showClear]="true" id="amount" />
              <label for="amount">حساب ولي الأمر<span style="color:red;"> *</span></label>
            </p-floatLabel>
          </div>
          <div class="form-control">
            <p-floatLabel>
              <p-dropdown [options]="filteredAccounts" [(ngModel)]="selectedAccount" formControlName="studentID"
                optionLabel="studentName" (ngModelChange)="setStudentID($event)" [editable]="true" [showClear]="true"
                id="student" />
              <label for="student">الطالب<span style="color:red;"> *</span></label>
            </p-floatLabel>
          </div>
        </div>
        <div class="group group2">
          <div class="form-control">
            <label for="receipt" class="label2">المبلغ ر.ي<span style="color:red;"> *</span></label>
            <input type="text" id="receipt" formControlName="receipt" />
          </div>
          <div class="form-control">
            <label for="payBy" class="label2">الدفع بواسطة<span style="color:red;"> *</span></label>

            <p-dropdown [options]="paymentMethods" [(ngModel)]="payBy" (ngModelChange)="setPayBy($event)"
              formControlName="payBy" optionLabel="label" placeholder="الدفع بواسطة">
            </p-dropdown>

          </div>
        </div>
        <div class="group group2">
          <div class="form-control">
            <label for="note" class="label2">البيان</label>
            <textarea formControlName="note" id="note"></textarea>
          </div>
        </div>
        <div class="group group2">
          <div class="form-control">
            <label for="date" class="label2">تاريخ الإنشاء<span style="color:red;"> *</span></label>
            <input type="date" id="date" formControlName="hireDate"
              [value]="formGroup.get('hireDate')?.value | date:'yyyy-MM-dd'">
          </div>
          <div class="form-control">
            <label for="attachment" class="label2">مرفقات<span style="color:red;"> *</span></label>
            <label for="file" class="custom-button">إستعراض الملفات
              <img src="assets/img/cloud-arrow-up.svg" alt="Upload Icon" class="upload-icon" />
            </label>
            <input type="file" accept="image/*" id="file" class="hidden-file-input"
              (change)="updateAttachments($event)" />
          </div>
        </div>
      </form>
    </p-panel>

    <p-panel header="فواتير ولي الأمر" *ngIf="showDiv2">
      <button pButton icon="pi pi-print" class="p-button-rounded p-button-text print" (click)="print()"> طباعة </button>
      <div id="report">
        @for (voucher of filteredVouchers; track $index) {
          <app-header-report id="header"></app-header-report>
        <div class="card flex justify-content-center">
          <p-card>
            <img class="image" src="assets/img/user.png" alt="photo">
            <span style="position: absolute;">{{voucher.studentName}}</span>
            <div class="m-2">الصـف: <span>{{voucher.className}}</span></div>
            <div class="m-2">الرسوم المطلوبة: <span>{{voucher.requiredFee}}</span></div>
            <span class="typeFee">رسوم طالب</span>
            <hr>
            <p>المدفوع: <span>{{voucher.receiptionFee}}</span></p>
            <hr>
            <p>مدين عليكم: <span>{{ +voucher.requiredFee! - +voucher.receiptionFee! }}</span></p>
            <p style="text-align: center; font-weight: bold;">{{ (+voucher.requiredFee! - +voucher.receiptionFee!) |
              numberToArabicText}}</p>
            <button class="details">تفاصيل</button>
          </p-card>
        </div>
        }
        @empty {
        <div class="card flex justify-content-center" id="report">
          <p-card>
            <img class="image" src="assets/img/user.png" alt="photo">
            <span style="position: absolute;">الاسم</span>
            <div class="m-2">الصـف: <span>....</span></div>
            <div class="m-2">الرسوم المطلوبة: <span>....</span></div>
            <span class="typeFee">رسوم طالب</span>
            <hr>
            <p>المدفوع: <span>....</span></p>
            <hr>
            <p>مدين عليكم: <span>....</span></p>
            <p style="text-align: center; font-weight: bold;">المبلغ كتابتاً</p>
            <button class="details">تفاصيل</button>
          </p-card>
        </div>
        }
      </div>
    </p-panel>
  </div>
</div>