<div class="container">
  <div class="button-container">
    <button  pButton [icon]="changeView ? 'pi pi-angle-double-right' : 'pi pi-angle-double-left'"
      class="p-button-rounded p-button-text" (click)="toggleDiv()">
    </button>
  </div>

  <div class="content">

    <p-panel header="فلترة حسابات أولياء الأمور">
      <div class="group group1">
        <div class="form-control">
          <p-floatLabel>
            <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [checkmark]="true" optionLabel="name"
              [editable]="true" [showClear]="true" placeholder="حساب ولي الأمر"/>
          </p-floatLabel>
        </div>
        <div class="form-control">
          <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [checkmark]="true" optionLabel="name"
            [editable]="true" [showClear]="true" placeholder="الطالب" />
        </div>
      </div>
      <div class="group group2">
        <div class="form-control">
          <label for="amount" class="label2">المبلغ ر.ي<span style="color:red;"> *</span></label>
          <input type="text" id="amount" formControlName="amount" />
        </div>
        <div class="form-control">
          <label for="payBy" class="label2">الدفع بواسطة<span style="color:red;"> *</span></label>
          <p-dropdown [options]="[
          { label: 'Cash', value: 'cash' },
          { label: 'الكريمي', value: 'visa' }
        ]" [(ngModel)]="selectedCity" optionLabel="label" formControlName="payBy" placeholder="الدفع بواسطة">
        </p-dropdown>
        </div>
      </div>
      <div class="group group2">
        <div class="form-control">
          <label for="amount" class="label2">البيان<span style="color:red;"> *</span></label>
          <textarea type="text" id="amount" formControlName="amount" ></textarea>
        </div>
      </div>
      <div class="group group2">
        <div class="form-control">
          <label for="date" class="label2">تاريخ الإنشاء<span style="color:red;"> *</span></label>
          <input type="date" id="date" formControlName="date" />
        </div>
        <div class="form-control">
          <label for="attachment" class="label2">مرفقات<span style="color:red;"> *</span></label>
          <label for="file" class="custom-button">إستعراض الملفات
            <img src="assets/img/cloud-arrow-up.svg" alt="Upload Icon" class="upload-icon" />
          </label>
          <input type="file" accept="image/*" id="file" formControlName="ImageURL" class="hidden-file-input" />
        </div>
      </div>
    </p-panel>

    <p-panel header="فواتير ولي الأمر" *ngIf="showDiv2">
      <button  pButton icon="pi pi-print" class="p-button-rounded p-button-text print"> طباعة </button>
      @for (item of cities; track $index) {
      <div class="card flex justify-content-center">
        <p-card>
          <h2>الاسم:{{item.name}}</h2>
          <img class="image" src="assets/images/٢٠٢٢٠٧٠٩_١٠٠٧٣٨.png" alt="photo">
          <div class="m-2">الصـف: <span>الخامس</span></div>
          <div class="m-2" style="position: relative; top:-2rem;right:40%">الرسوم المطلوبة: <span>$1062</span></div>
          <span class="typeFee">رسوم طالب</span>
          <hr>
          <p>المدفوع: <span>12000</span></p>
          <hr>
          <p>مدين عليكم: <span>48000</span></p>
          <p style="text-align: center; font-weight: bold;">خمسة و ثمانون الفاً ريال يمني لا غير</p>
          <button class="details">تفاصيل</button>
        </p-card>
      </div>
    }
    </p-panel>
  </div>
</div>