<div [formGroup]="documentsFormGroup" class="h-12rem">
  <div class="form-control">
    <label for="file" class="custom-button">
      إستعراض الملفات
      <img src="assets/img/cloud-arrow-up.svg" alt="Upload Icon" class="upload-icon" />
    </label>
    <input type="file" accept=".pdf,image/*" id="file" class="hidden-file-input" (change)="onFileSelected($event)" />
  </div>

  <!-- Display uploaded file previews -->
  @if(filePreviews.length > 0){
  <ul>
      @for(file of filePreviews;track $index;){
      <li class="attachment">
        <img src="assets/img/pdf.png" alt="File" width="16" height="16" />
        <a [href]="file.url" target="_blank" rel="noopener noreferrer">{{ file.name }}</a>
      </li>
      }
  </ul>
  }
</div>