<p-autocomplete
  #dropdownAutocomplete
  class="dropdown-custom"
  [inputId]="inputId"
  [(ngModel)]="selectedPanel"
  [suggestions]="filteredPanel"
  (completeMethod)="onCompleteSearch($event)"
  (onFocus)="onInputFocus($event)"
  (onSelect)="onRowSelect($event)"
  (onClear)="onClearSelection()"
  (onKeyUp)="onSearchKeyUp($event)"
  [optionLabel]="optionLabelField"
  [dropdown]="true"
  dropdownIcon="pi pi-chevron-down"
  [forceSelection]="resource === 'student'"
  [showClear]="resource === 'student'"
  [minLength]="minQueryLength"
  [delay]="searchDelayMs"
  [completeOnFocus]="false"
  [virtualScroll]="lazyVirtualScroll"
  [lazy]="lazyVirtualScroll"
  [scrollHeight]="scrollHeight"
  [virtualScrollItemSize]="virtualScrollItemSize"
  (onLazyLoad)="onLazyLoad($event)"
  [inputStyleClass]="inputStyleClass"
  [placeholder]="placeholder"
  [disabled]="disabled">
  <ng-template let-item pTemplate="item">
    @if (resource === 'class') {
      <span class="dropdown-custom__item flex justify-between gap-3 w-full">
        <span>{{ item.className }}</span>
        <span class="text-gray-500 text-sm">#{{ item.classID }}</span>
      </span>
    } @else if (resource === 'teacher') {
      <span class="dropdown-custom__item flex justify-between gap-3 w-full">
        <span>{{ item.fullName }}</span>
        <span class="text-gray-500 text-sm">#{{ item.teacherID }}</span>
      </span>
    } @else {
      <span class="dropdown-custom__item flex justify-between gap-3 w-full">
        <span>{{ item.fullName }}</span>
        <span class="text-gray-500 text-sm">#{{ item.studentID }}</span>
      </span>
    }
  </ng-template>
</p-autocomplete>
