<div id="id01" class="modal-container">
  <div class="modal-content">
    <h2 class="school">عرض جميع الطلاب</h2>
    <div class="container">
      <div class="tabcontent">
        <form [formGroup]="form">
          <!-- First Dropdown -->
          <mat-form-field appearance="outline">
            <mat-label>إختار طالب</mat-label>
            <mat-select [value]="selectedStudent" (selectionChange)="onSelectionChange('student', $event.value)">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let option of studentOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
            <span mat-icon-button class="cancel" *ngIf="isStudentSelected" (click)="clearSelection('student')">
              ✖
            </span>
          </mat-form-field>

          <!-- Second Dropdown -->
          <mat-form-field appearance="outline">
            <mat-label>إختار المرحلة</mat-label>
            <mat-select [value]="selectedStage" (selectionChange)="onSelectionChange('stage', $event.value)">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let option of stageOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
            <span mat-icon-button class="cancel" *ngIf="isStageSelected" (click)="clearSelection('stage')">
              ✖
            </span>
          </mat-form-field>

          <!-- Third Dropdown -->
          <mat-form-field appearance="outline">
            <mat-label>إختار الصـف</mat-label>
            <mat-select [value]="selectedClass" (selectionChange)="onSelectionChange('class', $event.value)">
              <mat-option [value]="null">None</mat-option>
              <mat-option *ngFor="let option of classOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
            <span mat-icon-button class="cancel" *ngIf="isClassSelected" (click)="clearSelection('class')">
              ✖
            </span>
          </mat-form-field>
        </form>


        <button mat-raised-button color="primary" class="add" (click)="openDialog()">
          إضافة طالب+
        </button>
        <p-chips [formControl]="values" class="chipsOne" [max]="max" placeholder="ابحث هنا..." />
        <div class="group group2">
          @for (card of cards; track $index) {
          <div class="form-control">
            <p-card class="responsive-card">
              <ng-template pTemplate="header">
                @if (card%2 == 0) {
                  <img alt="Card" src="./../../../../assets/images/٢٠٢٢٠٧٠٩_١٠٠٧٣٨.png" />
                }@else{
                  <img alt="Card" src="./../../../../assets/images/٢٠٢٢٠٧٠٩_١٠٠٧٣٨.jpg" />
                }
              </ng-template>
              <div>
                Hazem.{{card}}
                الصف:الأول
                <hr>
                النوع:ذكر
                المرحلة:الثانية
                الرسوم المطلوبة:10000
                <hr>
                
              </div>
              <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                  <p-button label="الرسوم" class="w-full" styleClass="custom-button" />
                  <p-button label="ولي أمر" class="w-full" styleClass="custom-button guardain" />

                </div>
              </ng-template>
            </p-card>
          </div>
        }
        </div>
        
       
        <!-- <div class="table-container">
          <div class="table-container">
            <mat-card>
              <table class="styled-table">
                <thead>
                  <tr>
                    <th>رقم الطالب</th>
                    <th>اسم الطالب</th>
                    <th>المرحلة</th>
                    <th>الصف</th>
                    <th>الشعبة</th>
                    <th>العمر</th>
                    <th>النوع</th>
                    <th>تاريخ التسجيل</th>
                    <th>العملية</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of cards; track $index) {
                  <tr *ngFor="let student of students">
                    <td>{{ student.id }}</td>
                    <td>حازم اليعري</td>
                    <td>{{ student.stage }}</td>
                    <td>{{ student.class }}</td>
                    <td>{{ student.division }}</td>
                    <td>{{ student.age }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.registrationDate }}</td>
                    <td>
                      <div class="col text-left">
                        <div class="mt-sm-0 mt-2">
                          <button class="btn btn-left" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                          </button>
                          <div class="dropdown-menu dropdown-menu-left">
                            <a class="dropdown-item" ><i
                                class="bi bi-pencil-square IconEdit"></i>تعديل</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" ><i
                                class="bi bi-trash IconDelete" (click)="deleteStudent(student.id)"></i>حذف</a>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                }
                </tbody>
              </table>

            </mat-card>
          </div>

        </div> -->
      </div>
    </div>
  </div>
</div>