.custom-dialog-container .mdc-dialog__surface {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  pointer-events: auto;
  overflow-y: hidden; // Corrected to disable vertical scrolling
  background-color: red;
  outline: 0;
  transform: scale(0.8); // Custom transform
}
form {
  position: absolute;
  right: -6rem;
  top: 4rem;
}
::-webkit-scrollbar form {
  position: absolute;
  right: 2rem;
  top: 3rem;
}
.modal-content {
  border-radius: 1.5%;
}

h2 {
  font-family: "Changa", sans-serif;
}

.container {
  border-radius: 23px;
}

.school {
  text-align: right;
}

.line {
  width: 100%;
  position: relative;
  top: 3rem;
  z-index: 1;
  border-bottom: 1px solid rgb(180 180 180);
}

input,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 33px;
  width: 19%;
  background-color: white;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.term {
  margin-right: -8px;
}

.class {
  margin-right: 8px;
}

.grade {
  margin-right: 0px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #2fdf85;
  box-shadow: 0 0 5px #2fdf85;
}

.tablink {
  color: black;
  float: right;
  border: none;
  outline: none;
  background-color: white;
  width: 100%;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 9%;
}

.tablink span {
  z-index: 2;
}

.tablink:hover {
  color: black;
}

.tablink.active {
  border-bottom: 3px solid #2fdf84;
  z-index: 4;
}

.tabcontent {
  color: black;
  display: block;
  padding: 24px 20px;
  height: 100%;
}

.className {
  position: relative;
  top: -2.3rem;
  right: 5rem;
}

.gradeName {
  position: relative;
  top: -2rem;
  right: 2rem;
}

.termName {
  position: absolute;
  top: -0.5rem;
  right: 17%;
}

.add {
  position: relative;
  top: -4rem;
  width: 11%;
  border-radius: 32px;
  left: -1rem;
  border: none;
  color: white;
  background-color: #2fdf84;
}

.add:active {
  background-color: #2fdf85;
}
@media (max-width: 1100px) {
  .add {
    width: 18%;
  }
}
@media (max-width: 900px) {
  form {
    right: -1rem;
  }
}

@media (max-width: 600px) {
  form {
    right: -1rem;
  }
}

@media (max-width: 400px) {
  // .tablink {
  //     color: rgb(35, 22, 213);
  // }
}

//this is for talbes
/* Resetting some default styles */

.styled-table {
  border-collapse: collapse;
  margin-top: 45px;
  font-size: 18px;
  overflow-x: auto;
  max-width: 100%;
  text-align: center;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px 2rem;
  border: 1px solid #dddddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.input-group {
  margin-bottom: 15px;
  position: relative;
}
.label1 {
  position: absolute;
  left: 94px;
  top: -30px;
  font-size: 11px;
  color: #777;
  transition: 0.2s;
  pointer-events: none;
}
#clearIcon {
  position: absolute;
  left: 1.7rem;
  top: -25px;
  font-size: 12px !important;
  color: #777;
  transition: 0.2s;
  pointer-events: none;
}
#clearIcon:hover {
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  display: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
li {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
li:hover {
  background-color: #f0f0f0;
}
.input1 {
  width: 20%;
  top: -33px;
  position: absolute;
  left: 0;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.2s;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="%234CAF50" d="M1 3h14l-7 10z"/></svg>')
    no-repeat left 10px center;
  background-size: 12px;
  padding-left: 40px; /* Space for the arrow */
}
.input1:focus {
  border-color: #4caf50;
  outline: none;
}
.input1:focus + .label1,
.input1:not(:placeholder-shown) + .label1 {
    left: 94px;
    top: -35px;
  font-size: 11px;
  color: #4caf50;
}
.input1[type="submit"] {
  background: #4caf50;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  transition: background 0.2s;
}
