
<div id="id01" [attr.dir]="dir$ | async" class="modal-container">
  <div class="modal-content">
    <h2 class="school">{{ 'student.title' | translate }}</h2>
    <div class="container">
      <div class="tabcontent">
        <div [ngClass]="{'col-4':(dir$ | async)==='rtl','col-4En':(dir$ | async)==='ltr'}">
          <i class="pi pi-bars mt-1" pTooltip="Show Students as row" showDelay="200" hideDelay="300"
            (click)="showStudentCulomn()"></i>
          <i class="pi mx-4 pi-th-large mt-1" pTooltip="Show Students as grid" showDelay="200" hideDelay="300"
            (click)="showStudentGrid()"></i>
          <span class="border p-1" (click)="toggleHidden()"><i pTooltip="Show or Hide search form" showDelay="200"
              hideDelay="300" [class]="hiddenFrom?'pi pi-sort-down-fill':'pi pi-sort-up-fill'"></i></span>
        </div>
        <form [formGroup]="form" [style]="hiddenFrom? 'display:none': 'display:flex'"
        [ngClass]="{'formEn': (dir$ | async) === 'ltr', 'form': (dir$ | async) !== 'ltr'}">
          <!-- First Dropdown -->
          <div class="group3">
            <p-select [options]="" optionValue="classID" [checkmark]="true" optionLabel="className" [editable]="true"
              [showClear]="true" placeholder="إختار طالب" />

            <p-select [options]="" optionValue="classID" [checkmark]="true" optionLabel="className" [editable]="true"
              [showClear]="true" placeholder="إختار المرحلة" />

            <p-select [options]="" optionValue="classID" [checkmark]="true" optionLabel="className" [editable]="true"
              [showClear]="true" placeholder="إختار الصف" />
          </div>
        </form>

        <p-button label="تصدير" variant="outlined" severity="success" (click)="openDialog()"
          [ngClass]="{'add':(dir$ | async)==='rtl','addEn':(dir$ | async)==='ltr'}" label="إضافة طالب+" />

        @if (showGrid) {
        <div class="group group2">
          @for (student of paginatedStudents; track $index) {
          <div class="form-control">
            <p-card class="responsive-card">
              <ng-template pTemplate="header">
                <img alt="Card" [src]="student.photoUrl" />
              </ng-template>
              <div>
                الاسم:{{student.fullName.firstName +" "+ student.fullName.middleName+" "+ student.fullName.lastName}}
                الصف:{{student.className}}
                <hr>
                النوع:{{student.gender=="Male"?"ذكر":"إنثى"}}
                المرحلة:{{student.stageName}}
                الرسوم المطلوبة:{{student.fee}}
                <hr>

              </div>
              <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                  <p-button label="الرسوم" (click)="EditStudentDialog(student.studentID)" class="w-full"
                    styleClass="custom-button" />
                  <p-button label="ولي أمر" (click)="EditGuardianDialog(student.guardians.guardianID)" class="w-full"
                    styleClass="custom-button guardain" />

                </div>
              </ng-template>
            </p-card>
          </div>
          }
        </div>
        <p-paginator dir="ltr" (onPageChange)="handlePageChange($event)" [first]="paginatorService.first()"
          [rows]="paginatorService.rows()" [totalRecords]="totalRecords" [rowsPerPageOptions]="[8, 16, 25]" />
        }

        @if (showCulomn) {
        <div [class]="hiddenFrom?'':'table-container'" [attr.dir]="(dir$ | async)">
          <mat-card>
            <table class="styled-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{'student.studentID'| translate}}</th>
                  <th class="student-name-column">{{'student.studentName'| translate}}</th>
                  <th>{{'student.stageName'| translate}}</th>
                  <th>{{'student.className'| translate}}</th>
                  <th>{{'student.divisionName'| translate}}</th>
                  <th>{{'student.studentAge'| translate}}</th>
                  <th>{{'student.gender'| translate}}</th>
                  <th>{{'student.registerDate'| translate}}</th>
                  <th>{{'student.action'| translate}}</th>
                </tr>
              </thead>
              <tbody>
                @for (student of paginatedStudents; track $index) {
                <tr>
                  <td>{{ $index+1 }}</td>
                  <td>{{ student.studentID}}</td>
                  <td class="student-name-column text-right"><img class="image w-3rem h-3rem" [src]="student.photoUrl"
                      alt="photo" />{{student.fullName.firstName +" "+ student.fullName.middleName+" "+
                    student.fullName.lastName}}</td>
                  <td>{{ student.stageName}}</td>
                  <td>{{ student.className}}</td>
                  <td>{{ student.divisionName }}</td>
                  <td>{{ student.age }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.hireDate | date:"MM-yyyy" }}</td>
                  <td>
                    <div class="col text-left">
                      <div class="mt-sm-0 mt-2">
                        <button class="btn btn-left" type="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu" dir="rtl">
                          <a class="dropdown-item d-flex align-items-center gap-2"
                            (click)="EditStudentDialog(student.studentID)">
                            <i class="pi pi-file-edit text-primary"></i>
                            <span>تعديل</span>
                          </a>

                          <div class="dropdown-divider my-1"></div>
                          <a class="dropdown-item d-flex align-items-center gap-2"
                            (click)="deleteStudent(student.studentID)">
                            <i class="pi pi-trash text-danger"></i>
                            <span>حذف</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                }@empty {
                  <tr>
                    <td colspan="10" class="empty-message">لا توجد بيانات متاحة في الجدول</td>
                    
                  </tr>
                <!-- <p animate-width></p> -->
                }
              </tbody>
            </table>

          </mat-card>
        </div>
        <p-paginator dir="ltr" (onPageChange)="handlePageChange($event)" [first]="paginatorService.first()"
          [rows]="paginatorService.rows()" [totalRecords]="totalRecords" [rowsPerPageOptions]="[8, 16, 25]">
        </p-paginator>
        }
      </div>
    </div>
  </div>
</div>