<div id="id01" class="">
  <div class="modal-content" style="background-color: #ffffff !important">
    <div class="container" dir="rtl">
      <h2 class="school" dir="rtl">تخصيص المدرسة</h2>
      <button
        [ngClass]="{ tablink: true, active: activeTab === 'News' }"
        (click)="openPage('News', $event.target)"
        id="defaultOpen"
      >
        <span>المراحل</span>
      </button>
      <button
        [ngClass]="{ tablink: true, active: activeTab === 'Class' }"
        (click)="openPage('Class', $event.target)"
      >
        <span>الصفوف</span>
      </button>
      <button
        [ngClass]="{ tablink: true, active: activeTab === 'Contact' }"
        (click)="openPage('Contact', $event.target)"
      >
        <span>الشعب</span>
      </button>
      <p class="line"></p>

      <div id="News" class="tabcontent">
        <form [formGroup]="form" (ngSubmit)="addStage()">
          <label for="stageName" class="termName">اسـم المرحـلة</label>
          <input
            type="text"
            formControlName="StageName"
            class="term"
            placeholder="المرحـلة"
          />
          <div *ngIf="form.get('StageName')?.invalid && form.get('StageName')?.touched" class="error">
            اسم المرحلة مطلوب
          </div>
          
          <label for="note" class="className">ملاحظة</label>
          <input
            type="text"
            formControlName="Note"
            class="class"
            placeholder="ملاحظة"
          />
          
          <input
            type="submit"
            class="btn btn-primary add"
            value="إضافة"
          />

          <!-- <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> -->
        </form>
        <table class="styled-table">
          <thead>
            <tr>
              <th>#</th>
              <th>اسم المرحلة</th>
              <th>صفوف</th>
              <th>إجمالي الطلاب</th>
              <th>ملاحظة</th>
              <th>الحالة</th>
              <th>العملية</th>
            </tr>
          </thead>
          <tbody>
            @for ( item of getPaginatedStages(); track $index) {
            <tr>
              <td>{{ $index + 1 + currentStagePage * maxStagesPerPage }}</td>
              <td>{{ item.stageName }}</td>
              <td>
                <!-- Classes dropdown with pagination for each stage -->
                <button
                  class="btn division"
                  (click)="toggleOuterDropdown(item)"
                >
                  الصفوف <i class="bi bi-caret-down-fill"></i>
                </button>
                @if (isOuterDropdownOpen(item)) {
                <div class="dropdown-menu nested-dropdown">
                  <table>
                    <thead>
                      <tr>
                        <th>اسم الصف</th>
                        <th>إجمالي الطلاب</th>
                        <th>العملية</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for ( Class of getPaginatedClasses(item); track $index) {
                      <tr>
                        <td>{{ Class.className }}</td>
                        <td>لا يوجد طلاب حالياً</td>
                        <td>
                          <!-- this is for edit and delete  -->
                          <div class="col text-left">
                            <div class="mt-sm-0 mt-2">
                              <button
                                class="btn btn-left"
                                type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              >
                                <i class="fas fa-ellipsis-h"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-left">
                                <a class="dropdown-item" href="#"
                                  ><i class="bi bi-pencil-square IconEdit"></i
                                  >تعديل</a
                                >
                                <div
                                  role="separator"
                                  class="dropdown-divider"
                                ></div>
                                <a
                                  class="dropdown-item"
                                  (click)="deleteClass(Class.ClassID)"
                                  ><i class="bi bi-trash IconDelete"></i>حذف</a
                                >
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      }
                    </tbody>
                  </table>
                  <!-- Pagination controls for classes -->
                  <div class="pagination-buttons">
                    <button
                      (click)="previousClassPage(item)"
                      [disabled]="currentClassPage[item.stageID] === 0"
                    >
                      السابق
                    </button>
                    <span
                      >صفحة {{ currentClassPage[item.stageID] + 1 }} من
                      {{ getTotalClassPages(item) }}</span
                    >
                    <button
                      (click)="nextClassPage(item)"
                      [disabled]="
                        currentClassPage[item.stageID] >=
                        getTotalClassPages(item) - 1
                      "
                    >
                      التالي
                    </button>
                  </div>
                </div>
                }
              </td>
              <td>لا يوجد طلاب</td>
              <td>{{ item.note }}</td>
              <td>{{ item.active ? "Active" : "Inactive" }}</td>
              <td>
                <!-- this is for edit and delete  -->
                <div class="col text-left">
                  <div class="mt-sm-0 mt-2">
                    <button
                      class="btn btn-left"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                      <a class="dropdown-item" href="#"
                        ><i class="bi bi-pencil-square IconEdit"></i>تعديل</a
                      >
                      <div role="separator" class="dropdown-divider"></div>
                      <a
                        class="dropdown-item"
                        (click)="deleteStage(item.stageID)"
                        ><i class="bi bi-trash IconDelete"></i>حذف</a
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>

        <!-- Pagination controls for stages -->
        <div class="pagination-buttons" dir="ltr">
          <button
            (click)="previousStagePage()"
            [disabled]="currentStagePage === 0"
          >
            السابق
          </button>
          <span
            >صفحة {{ currentStagePage + 1 }} من {{ getTotalStagePages() }}</span
          >
          <button
            (click)="nextStagePage()"
            [disabled]="currentStagePage >= getTotalStagePages() - 1"
          >
            التالي
          </button>
        </div>
      </div>
      <app-grades></app-grades>
      <app-division></app-division>
      <!-- Add similar content for other tabs (Class and Contact) as needed -->
    </div>
  </div>
</div>
