<div id="id01" [attr.dir]="(dir$ | async)" class="modal-container">
  <div class="modal-content">
    <h2 class="school">جميع الموظفين</h2>
    <div class="container">
      <div class="tabcontent">
        <div [ngClass]="{'col-4':(dir$ | async)==='rtl','col-4En':(dir$ | async)==='ltr'}">
          <i class="pi pi-bars mt-1" pTooltip="Show Students as row" showDelay="200" hideDelay="300"
            (click)="showteacherCulomn()"></i>
          <i class="pi mx-4 pi-th-large mt-1" pTooltip="Show Students as grid" showDelay="200" hideDelay="300"
            (click)="showteacherGrid()"></i>
        </div>
        <form [formGroup]="form" [ngClass]="{'formEn': (dir$ | async) === 'ltr', 'form': (dir$ | async) !== 'ltr'}">
          <!-- First Dropdown -->
          <div class="group3">
            <p-select [options]="" optionValue="classID" [checkmark]="true" optionLabel="className" [editable]="true"
              [showClear]="true" placeholder="إختار طالب" />

            <p-select [options]="" optionValue="classID" [checkmark]="true" optionLabel="className" [editable]="true"
              [showClear]="true" placeholder="إختار المرحلة" />

            <p-select [options]="" optionValue="classID" [checkmark]="true" optionLabel="className" [editable]="true"
              [showClear]="true" placeholder="إختار الصف" />
          </div>
        </form>

        <p-button label="تصدير" variant="outlined" severity="success" (click)="openDialog()"
          [ngClass]="{'add':(dir$ | async)==='rtl','addEn':(dir$ | async)==='ltr'}" label="إضافة موظف+"/>

        @if (showGrid) {
        <div class="group group2">
          @for (teacher of paginated; track $index) {
          <div class="form-control">
            <p-card class="responsive-card">
              <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/user.png" />
              </ng-template>
              <div>
                الاسم:{{teacher.firstName +" "+ teacher.middleName+" "+ teacher.lastName}}
                <hr>
                asdf:32302930
                النوع:{{teacher.gender=="Male"?"ذكر":"إنثى"}}
                <hr>

              </div>
              <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                  <p-button label="الرسوم" class="w-full" styleClass="custom-button" />
                  <p-button label="ولي أمر" class="w-full" styleClass="custom-button guardain" />

                </div>
              </ng-template>
            </p-card>
          </div>
          }
        </div>
          <p-paginator dir="ltr" (onPageChange)="handlePageChange($event)" [first]="paginatorService.first()" [rows]="paginatorService.rows()"
          [totalRecords]="Employees.length" [rowsPerPageOptions]="[4, 10, 20]"/>
        }

        @if (showCulomn) {
        <div class="table-container" [attr.dir]="(dir$ | async)">
          <div class="table-container">
            <mat-card>
              <div class="responsive-table">
                <table class="styled-table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>اسم المستخدم</th>
                      <th>الوضيفة</th>
                      <th>رقم المستخدم</th>
                      <th>العمر</th>
                      <th>النوع</th>
                      <th>تاريخ الإنشاء</th>
                      <th>العنوان</th>
                      <th>رقم الهاتف</th>
                      <th>العملية</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (employee of paginated; track $index) {
                    <tr>
                      <td>{{ $index+1 }}</td>
                      <td class="student-name-column">{{employee.firstName +" "+employee.lastName}}</td>
                      <td>{{ employee.jopName}}</td>
                      <td>{{ employee.employeeID}}</td>
                      <td>{{ employee.dob | age }}</td>
                      <td>{{ employee.gender=="Male"?"ذكر":"انثى" }}</td>
                      <td>{{ employee.hireDate| date:"MM-yyyy" }}</td>
                      <td>{{ employee.address }}</td>
                      <td>{{ employee.mobile }}</td>
                      <td>
                        <div class="col text-left">
                          <div class="mt-sm-0 mt-2">
                            <button class="btn btn-left" type="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">
                              <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-left">
                              <a class="dropdown-item" (click)="EditDialog(employee)"><i
                                  class="bi bi-pencil-square IconEdit"></i>تعديل</a>
                              <div role="separator" class="dropdown-divider"></div>
                              <a class="dropdown-item" (click)="deleteEmployee(employee.employeeID!,employee.jopName)">
                                <i class="bi bi-trash IconDelete"></i>حذف</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    }@empty {
                    <p animate-width>No Data available in a Table</p>
                    }
                  </tbody>
                </table>
              </div>
            </mat-card>
          </div>
        </div>  
        }
      </div>
      <p-paginator dir="ltr" (onPageChange)="handlePageChange($event)" [first]="paginatorService.first()" [rows]="paginatorService.rows()"
          [totalRecords]="Employees.length" [rowsPerPageOptions]="[4, 10, 20]"/>
        
    </div>
  </div>
</div>