<div class="contant" style="margin-top: 0rem" [attr.dir]="languageService.dir">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-sm-6">
              <div class="page-title">New Students</div>
            </div>
            <div class="col-sm-6 text-sm-left">
              <div class="mt-sm-0 mt-2">
                <button class="btn btn-outline-primary mr-2" (click)="openDialog()">
                  <span class="ml-2">Add User</span>
                </button>
                <button class="btn btn-light" type="button" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Action</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="table-responsive">
                <table class="table custom-table">
                  <thead class="thead-light">
                    <tr>
                      <th>#</th>
                      <th>الاسم</th>
                      <th>رقم الهاتف</th>
                      <th>المدرسة</th>
                      <th>الإيميل</th>
                      <th>تاريخ القبول</th>
                      <th>المبلغ المدفوع</th>
                      <th>صورة الشهادة</th>
                      <th>الحدث</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    @for (manager of ManagerInfo; track $index) {
                    <tr>
                      <td>{{ $index+1 }}</td>
                      <td>
                        <h2>
                      <a href="#">{{
                        manager.fullName.firstName+" "+manager.fullName.lastName
                        }}<span></span></a>
                      </h2>
                      </td>
                      <td>{{ manager.phoneNumber }}</td>
                      <td>{{ manager.schoolName}}</td>
                      <td>{{ manager.userType }}</td>
                      <td>{{ manager.email}}</td>
                      <td>{{ manager.hireDate|date:"dd-MM-yyyy" }}</td>
                      <td>
                        <img class="imageGreade" src="assets/img/pdf.png" alt="" />
                      </td>
                      <td class="text-right">
                        <button mat-raised-button class="btn btn-primary btn-sm mb-1">
                          <i class="far fa-edit"></i>
                        </button>
                        <button type="submit" data-toggle="modal" data-target="#delete_employee"
                          class="btn btn-danger btn-sm mb-1">
                          <i class="far fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <p-paginator dir="ltr" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
        </div>
      </div>
    </div>
  </div>
</div>