<form [formGroup]="form" class="From">
  <label for="stage" class="termName">اسـم المرحـلة</label><br />
  <p-select [options]="stages" optionLabel="stageName" [showClear]="true" name="stage" optionValue="stageID"
     formControlName="stageID" id="term" class="term" placeholder="إختار مرحلة" />

  <label for="className" class="className">اسـم الصف</label>
  <input pInputText type="text" formControlName="className" class="class" placeholder="إدخال اسم صـف جديد" />
  <p-button variant="outlined" severity="success" class="showFee" [label]="isEditMode ? 'تعديل' : 'إضافة'" (click)="isEditMode ? updateClass() : addClass()"
    [disabled]="!form.valid" />
</form>

<table class="styled-table" style="overflow-y: hidden; width: 100%">
  <thead>
    <tr>
      <th>#</th>
      <th>اسم الصـف</th>
      <th>المرحلة</th>
      <th>شعب الصـف</th>
      <th>إجمالي الطلاب</th>
      <th>الحالة</th>
      <th>العملية</th>
    </tr>
  </thead>
  <tbody>
    @for (Class of paginatedGrade; track $index) {
    <tr>
      <td>{{ $index + 1 }}</td>
      <td>{{ Class.className }}</td>
      <td>{{ Class.stageName }}</td>
      <td>
        <button class="btn division" (click)="toggleOuterDropdown(Class)">
          {{ Class.divisions.length }} شعب
          <i class="bi bi-caret-down-fill"></i>
        </button>
        @if (isOuterDropdownOpen(Class)) {
        <div class="dropdown-menu nested-dropdown">
          <table>
            <thead>
              <tr>
                <th>اسم الشعبة</th>
                <th>إجمالي الطلاب</th>
                <th>العملية</th>
              </tr>
            </thead>
            <tbody>
              @for (division of getPaginatedClasses(Class); track $index) {
              <tr>
                <td style="text-align: center">
                  {{ division.divisionName }}
                </td>
                <td>{{ division.studentCount || "لا يوجد طلاب حالياً" }}</td>
                <td>
                  <button class="btn btn-left" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-left">
                    <a class="dropdown-item" (click)="editClass(Class)"><i
                        class="bi bi-pencil-square IconEdit"></i>تعديل</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="bi bi-trash IconDelete"></i>حذف</a>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
          <div class="pagination-buttons">
            <button (click)="previousClassPage(Class)" [disabled]="currentClassPage[Class.classID] === 0">
              السابق
            </button>
            <span>صفحة {{ currentClassPage[Class.classID] + 1 }} من
              {{ getTotalClassPages(Class) }}</span>
            <button (click)="nextClassPage(Class)" [disabled]="
                  currentClassPage[Class.classID] >=
                  getTotalClassPages(Class) - 1
                ">
              التالي
            </button>
          </div>
        </div>
        }
      </td>
      <td>{{ Class.studentCount }}</td>
      <td>
        <div class="dropdown dropdown-toggle" ngClass="{{ Class.state ? '' : 'active' }}" data-toggle="dropdown">
          @if (Class.state) {
          <span>نشط </span>
          } @else {
          <span>خامل </span>

          }
          <div class="dropdown-menu" style="margin-left: 2rem">
            <span class="dropdown-item" (click)="changeState(Class, true)">نشط</span>
            <span class="dropdown-item" (click)="changeState(Class, false)">خامل</span>
          </div>
        </div>
      </td>
      <td>
        <!-- this is for edit and delete  -->
        <div class="col text-left">
          <div class="mt-sm-0 mt-2">
            <button class="btn btn-left" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-left">
              <!-- when I click here chage in the form from "إضافة" to be like "تعديل"  -->
              <a class="dropdown-item" (click)="editClass(Class)"><i class="bi bi-pencil-square IconEdit"></i>تعديل</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="deleteClass(Class.classID)"><i
                  class="bi bi-trash IconDelete"></i>حذف</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    }@empty {
    <p>No Data available in a Table</p>
    }
  </tbody>
</table>
<p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="classes.length"
  [rowsPerPageOptions]="[4, 8, 16]" />