<div class="header-outer" [ngClass]="{'English':dir==='ltr'}" [attr.dir]="dir">
    <div class="header">
        <a (click)="toggleSidebar()"
        [ngClass]="{'mobile_btn-Ar': dir === 'rtl','mobile_btn-En': dir === 'ltr'}" class="mobile_btn float-left">
            <i class="fas fa-bars"></i>
        </a>

        <app-student-sidebar
          *ngIf="studentPortal"
          #sidebar
          [open]="isSidebarOpen()"
          (closed)="onSidebarClosed()"
        ></app-student-sidebar>
        <app-sidebar
          *ngIf="!teacherPortal && !studentPortal"
          #sidebar
          [open]="isSidebarOpen()"
          (closed)="onSidebarClosed()"
        ></app-sidebar>
        <app-teacher-sidebar
          *ngIf="teacherPortal"
          #sidebar
          [open]="isSidebarOpen()"
          (closed)="onSidebarClosed()"
        ></app-teacher-sidebar>
        <a id="toggle_btn" [ngClass]="{'toggle_btn-Ar': dir === 'rtl','toggle_btn-En': dir === 'ltr'}"
            class="float-right" href="javascript:void(0);">
            <img src="assets/img/sidebar/icon-21.png" alt="">
        </a>
        <ul class="nav float-right">
            <li>
                <div class="top-nav-search">
                    <a href="javascript:void(0);" class="responsive-search">
                        <i class="fa fa-search"></i>
                    </a>
                    <form action="inbox.html">
                        <input class="form-control" type="text" placeholder="ابحث هنا ">
                        <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </li>
            <li>
                <a href="#" class="mobile-logo d-md-block d-lg-none d-block"><img src="assets/img/logo1.png" alt=""
                        width="30" height="30"></a>
            </li>
        </ul>
        <ul class="nav float-left user-menu" [ngClass]="{'user-menu-Ar': dir === 'rtl','user-menu-En': dir === 'ltr'}">
            <li class="nav-item dropdown d-none d-sm-block">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"
                    [class.hasnotifications]="unreadCount > 0"
                    (click)="onNotificationsBellClick()">
                    <img src="assets/img/sidebar/icon-22.png" alt="">
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span>{{ 'notifications.headerTitle' | translate }}</span>
                        <span *ngIf="notifLoading" class="notif-loading text-muted small">…</span>
                    </div>
                    <div class="drop-scroll">
                        <ul class="notification-list">
                            <li *ngIf="!notifLoading && headerNotifications.length === 0" class="notification-message notification-empty">
                                <span class="text-muted px-3 py-2 d-block">{{ 'notifications.headerEmpty' | translate }}</span>
                            </li>
                            <li *ngFor="let n of headerNotifications" class="notification-message"
                                [class.notification-unread]="!n.isRead">
                                <a [routerLink]="notificationsListPath()" class="notification-item-link">
                                    <div class="media">
                                        <span class="avatar avatar-letter">{{ avatarLetter(n.title) }}</span>
                                        <div class="media-body">
                                            <p class="noti-details">
                                                <span class="noti-title">{{ n.title }}</span>
                                                <span class="noti-preview">{{ previewBody(n.body) }}</span>
                                            </p>
                                            <p class="noti-time">
                                                <span class="notification-time">{{ relativeTime(n.sentAtUtc) }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a [routerLink]="notificationsListPath()">{{ 'notifications.viewAll' | translate }}</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown d-none d-sm-block">
                <a href="javascript:void(0);" id="open_msg_box" class="nav-link"><img
                        src="assets/img/sidebar/icon-23.png" alt=""> </a>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class=" nav-link user-link" data-toggle="dropdown">
                    <span class="user-img"><img [src]="'assets/img/' + languageImage" width="30" alt="language">
                        <span class="status online"></span></span>
                    <span>{{langName}}</span>
                </a>
                <div class="dropdown-menu">
                    <a class="btn dropdown-item cursor-pointer" (click)="changeLang('ar')">العربية</a>
                    <a class="btn dropdown-item cursor-pointer" (click)="changeLang('en')">English</a>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a href="#" class=" nav-link user-link" data-toggle="dropdown">
                    <span class="user-img"><img class="rounded-circle" src="assets/img/user-06.jpg" width="30"
                            alt="Admin">
                        <span class="status online"></span></span>
                    <span>{{userName}}</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">الملف الشخصي</a>
                    <a class="dropdown-item" href="#">تعديل الملف الشخصي</a>
                    <a class="dropdown-item" href="inbox.html">الإعدادات</a>
                    <a class="dropdown-item" (click)="logout()">خروج</a>
                </div>
            </li>
        </ul>
    </div>
</div>
