<div id="DataStudent" [formGroup]="formGroup" class="container" dir="rtl">
  <!-- Group 1: Full Names -->
  <div class="group group1">
    <div class="form-control">
      <label for="fullNameAr" class="label1">الاسم الكامل</label>
      <input type="text" id="fullNameAr" class="inputAb" formControlName="fullNameAr" readonly />
    </div>
    <div class="form-control">
      <label for="fullNameEn" class="label1">Full Name</label>
      <input type="text" id="fullNameEn" dir="ltr" class="inputEn" formControlName="fullNameEn" readonly />
    </div>
  </div>

  <!-- Group 2: Arabic Names -->
  <div class="group group2">
    <div class="form-control">
      <label for="firstNameAr" class="label2">الاسم الأول<span style="color:red;"> *</span></label>
      <input type="text" id="firstNameAr" formControlName="firstNameAr" placeholder="الاسم الأول" />
    </div>
    <div class="form-control">
      <label for="secondNameAr" class="label2">الاسم الثاني<span style="color:red;"> *</span></label>
      <input type="text" id="secondNameAr" formControlName="secondNameAr" placeholder="الاسم الثاني" />
    </div>
    <div class="form-control">
      <label for="lastNameAr" class="label2">الاسم الأخير<span style="color:red;"> *</span></label>
      <input type="text" id="lastNameAr" formControlName="lastNameAr" placeholder="اسم العائلة" />
    </div>
  </div>

  <!-- Group 3: English Names -->
  <div class="group group3">
    <div class="form-control">
      <label for="firstNameEn" class="label2">First</label>
      <input type="text" id="firstNameEn" formControlName="firstNameEn" placeholder="First Name" />
    </div>
    <div class="form-control">
      <label for="thirdNameEn" class="label2">Third</label>
      <input type="text" id="thirdNameEn" formControlName="secondNameEn" placeholder="Third Name" />
    </div>
    <div class="form-control">
      <label for="lastNameEn" class="label2">Last</label>
      <input type="text" id="lastNameEn" formControlName="lastNameEn" placeholder="Last Name" />
    </div>
  </div>

  <!-- Group 4: Other Information -->
  <div class="group group4">
    <div class="form-control">
      <label for="dob" class="label2">تاريخ الميلاد<span style="color:red;"> *</span></label>
      <input type="date" id="dob" formControlName="dob" placeholder="تاريخ الميلاد" />
    </div>

    <!-- Class -->
    <div class="form-control">
      <label for="class" class="label2">الصـف<span style="color:red;"> *</span></label>
      <mat-form-field appearance="outline">
        <mat-label>إختار المرحلة</mat-label>
        <mat-select formControlName="grade" [value]="selectedClass" (selectionChange)="onSelectionChange('Class', $event.value)">
          <mat-option [value]="null">None</mat-option>
          @for (Class of classes; track $index) {
          <mat-option [value]="Class.classID">
            {{ Class.className }}
          </mat-option>
          }
        </mat-select>
        @if (isClassSelected) {
        <span mat-icon-button class="cancel" (click)="clearSelection('Class')">✖</span>
        }
      </mat-form-field>
    </div>

    <!-- Division -->
    <div class="form-control">
      <label for="division" class="label2">الشعبة<span style="color:red;"> *</span></label>
      <mat-form-field appearance="outline">
        <mat-label>إختار الشعبة</mat-label>
        <mat-select formControlName="division" [value]="selectedDivision" (selectionChange)="onSelectionChange('division', $event.value)">
          <mat-option [value]="null">None</mat-option>
          @for (Class of divisiones; track $index) {
            <mat-option [value]="Class.divisionID">
              {{ Class.divisionName }}
            </mat-option>
            }
        </mat-select>
        @if (isDivisionSelected) {
        <span mat-icon-button class="cancel" (click)="clearSelection('division')">✖</span>
        }
      </mat-form-field>
    </div>

    <!-- Sex -->
    <div class="form-control">
      <label for="sex" class="label2">الجنس<span style="color:red;"> *</span></label>
      <mat-form-field appearance="outline">
        <mat-label>إختار النوع</mat-label>
        <mat-select formControlName="sex" [value]="selectedSex" (selectionChange)="onSelectionChange('sex', $event.value)">
          <mat-option [value]="null">None</mat-option>
          @for (option of sexOptions; track $index) {
          <mat-option [value]="option.value">
            {{ option.label }}
          </mat-option>
          }
        </mat-select>
        @if (isSexSelected) {
        <span mat-icon-button class="cancel" (click)="clearSelection('sex')">✖</span>
        }
      </mat-form-field>
    </div>
  </div>
</div>
