<div id="id01" class="modal-container" [attr.dir]="dir$ | async">
  <h2 class="school p-3">الحسابات</h2>
  <form [attr.dir]="dir$ | async">
    <div class="group group2">
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>اسم الحساب</mat-label>
          <input class="inputError" type="email" matInput />
        </mat-form-field>
      </div>
      <div class="form-control">
        <p-dropdown [options]="accountType" [checkmark]="true" optionLabel="name" [editable]="true" [showClear]="true"
          placeholder="نوع الحساب">
        </p-dropdown>
      </div>
      <div class="form-control">
        <p-dropdown [options]="accountType" [checkmark]="true" optionLabel="name" [editable]="true" [showClear]="true"
          placeholder="الحساب الأب">
        </p-dropdown>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>من</mat-label>
          <input class="inputError" type="date" matInput />
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>إلى</mat-label>
          <input class="inputError" type="date" matInput />
        </mat-form-field>
      </div>
    </div>
    <p-button class="showFee" (onClick)="showDialog()" label="+حساب جديد" />
  </form>

  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '75%' }" [draggable]="false" [resizable]="false">
    <h2 class="Title">حساب جديد</h2>
    <button class="button typing">طباعة</button>
    @if(visible) {
    <app-add-account [account]="EditAccount"></app-add-account>
    }
  </p-dialog>

  <!-- Responsive Table -->
  <div class="table-container">
    <div class="table-container">
      <mat-card>
        <table class="styled-table">
          <thead>
            <tr>
              <th>#</th>
              <th>الحساب</th>
              <th>النوع</th>
              <th>حساب الأب</th>
              <th>الرصيد الإفتتاحي</th>
              <th>نوع الرصيد الإفتتاحي</th>
              <th>الحالة</th>
              <th>البيان</th>
              <th>تاريخ الإنشاء</th>
              <th>العملية</th>
            </tr>
          </thead>
          <tbody>
            @for (account of displayedaccounts; track $index) {
            <tr>
              <td>{{ $index+1 }}</td>
              <td>{{account.accountName}}</td>
              <td>
                <p class="dain">مدين</p>
              </td>
              <td>{{account.typeAccountID==1?'Guardian':account.typeAccountID}}</td>
              <td>{{account.openBalance}}</td>
              <td>{{account.typeOpenBalance}}</td>
              <td>
                <button class="active" (click)="changeState(account)">
                  <i class="bi bi-record-circle" [ngStyle]="{'color': account.state ? '#2fdf85':'red'}">
                  </i>
                  {{ account.state ? 'نشط' : 'غير نشط' }}
                  <span class="bi bi-caret-down-fill"></span>
                </button>
              </td>
              <td>{{account.note}}</td>
              <td>{{account.hireDate | date:'yyyy-mm-dd'}}</td>
              <td>
                <div class="col text-left">
                  <div class="mt-sm-0 mt-2">
                    <button class="btn btn-left update" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                      <a class="dropdown-item"><i class="bi bi-pencil-square IconEdit"
                          (click)="editAccount(account)"></i>تعديل</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item"><i class="bi bi-trash IconDelete"></i>حذف</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
        <p-paginator class="relative" dir="ltr" (onPageChange)="handlePageChange($event)" [first]="paginatorService.first()"
          [rows]="paginatorService.rows()" [totalRecords]="accounts.length" [rowsPerPageOptions]="[4, 10, 20]" >
        </p-paginator>
      </mat-card>
    </div>

  </div>

</div>