<div id="id01" class="modal-container" [attr.dir]="languageService.dir">
  <mat-paginator class="cPaginator" [length]="accounts.length" [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
  </mat-paginator>
  <h2 class="school">الحسابات</h2>
  <form [attr.dir]="languageService.dir">
    <div class="group group2">
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>اسم الحساب</mat-label>
          <input class="inputError" type="email" matInput />
        </mat-form-field>
      </div>
      <div class="form-control">
        <p-dropdown [options]="accountType" [checkmark]="true" optionLabel="name" [editable]="true" [showClear]="true"
          placeholder="نوع الحساب">
        </p-dropdown>
      </div>
      <div class="form-control">
        <p-dropdown [options]="accountType" [checkmark]="true" optionLabel="name" [editable]="true" [showClear]="true"
          placeholder="الحساب الأب">
        </p-dropdown>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>من</mat-label>
          <input class="inputError" type="date" matInput />
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>إلى</mat-label>
          <input class="inputError" type="date" matInput />
        </mat-form-field>
      </div>
    </div>
    <p-button class="showFee" (onClick)="showDialog()" label="+حساب جديد" />
    <!-- <p-chips [formControl]="values" class="chipsOne" [max]="max" placeholder="ابحث هنا..." /> -->
  </form>

  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '75%' }" [draggable]="false" [resizable]="false">
    <h1 class="Title">حساب جديد</h1>
    <button class="button add">إضافة</button>
    <button class="button typing">طباعة</button>
    <app-add-account></app-add-account>
  </p-dialog>

  <!-- Responsive Table -->
  <div class="table-container">
    <div class="table-container">
      <mat-card>
        <table class="styled-table">
          <thead>
            <tr>
              <th>#</th>
              <th>الحساب</th>
              <th>النوع</th>
              <th>حساب الأب</th>
              <th>الرصيد الإفتتاحي</th>
              <th>نوع الرصيد الإفتتاحي</th>
              <th>الحالة</th>
              <th>البيان</th>
              <th>تاريخ الإنشاء</th>
              <th>العملية</th>
            </tr>
          </thead>
          <tbody>
            @for (student of displayedaccounts; track $index) {
            <tr>
              <td>{{ $index }}</td>
              <td>{{student.guardianName}}</td>
              <td>مدين</td>
              <td>{{student.typeAccountID==1?'Guardian':student.typeAccountID}}</td>
              <td>{{student.openBalance}}</td>
              <td>{{student.typeOpenBalance}}</td>
              <td>{{student.state}}</td>
              <td>{{student.note}}</td>
              <td>{{student.hireDate | date:'yyyy-mm-dd'}}</td>
              <td>
                <div class="col text-left">
                  <div class="mt-sm-0 mt-2">
                    <button class="btn btn-left update" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                      <a class="dropdown-item"><i class="bi bi-pencil-square IconEdit"></i>تعديل</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item"><i class="bi bi-trash IconDelete"></i>حذف</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>

      </mat-card>
    </div>

  </div>
</div>