<div id="id01" class="modal-container" [attr.dir]="languageService.dir">
  <div class="modal-content">
    <h2 class="school">العام الدارسي</h2>
    <div class="container">
      <div class="tabcontent">
        <p-button class="showFee" variant="outlined" severity="success" (onClick)="showDialogAddYear()" label="+ سنة جديدة" />

        <!-- Dialog for adding a new year -->
        <p-dialog header="إضافة سنة" [modal]="true" styleClass="year-dialog" [(visible)]="visible" [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [resizable]="false">
          
          <app-new-year (yearAdded)="handleYearAdded($event)"></app-new-year>
        </p-dialog>

        <!-- Responsive Table -->
        <div class="table-container">
          <mat-card>
            <table class="styled-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>تاريخ بدء الدراسة</th>
                  <th>ملاحظة</th>
                  <th>تاريخ إنتهاء الدراسة</th>
                  <th>تاريخ الإنشاء</th>
                  <th>الحالة</th>
                  <th>العملية</th>
                </tr>
              </thead>
              <tbody>
                <!-- Assuming you're using Angular's *ngFor (adjust syntax as needed) -->
                <tr *ngFor="let year of viewYear; let i = index">
                  <td>{{ i }}</td>
                  <td>{{ year.yearDateStart | customDate }}</td>
                  <td>لا يوجد</td>
                  <td>{{ year.yearDateEnd | customDate }}</td>
                  <td>{{ year.hireDate | customDate }}</td>
                  <td>
                    <div class="dropdown dropdown-toggle" ngClass="{{ year.active ? '' : 'active' }}"
                      data-toggle="dropdown">
                      @if (year.active) {
                      <span>نشط </span>
                      } @else {
                      <span>خامل </span>

                      }
                      <div class="dropdown-menu" style="margin-left: 2rem">
                        <span class="dropdown-item" (click)="changeYear(year, true)">نشط</span>
                        <span class="dropdown-item" (click)="changeYear(year, false)">خامل</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="col text-left">
                      <div class="mt-sm-0 mt-2">
                        <button class="btn btn-left" type="button" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-left">
                          <a class="dropdown-item">
                            <i class="bi bi-pencil-square IconEdit"></i>تعديل
                          </a>
                          <div role="separator" class="dropdown-divider"></div>
                          <a class="dropdown-item" (click)="deleteYear(year.yearID)">
                            <i class="bi bi-trash IconDelete"></i>حذف
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card>
          <p-paginator  (onPageChange)="onPageChange($event)" [first]="first"
            [rows]="rows" [totalRecords]="years.length" [rowsPerPageOptions]="[4, 8, 16]" />
        </div>
      </div>
    </div>
  </div>
</div>