<form [formGroup]="formGroup">
  <!-- Group 1 -->
  <div class="group group2">
    <div class="form-control">
      <label for="placeOfBirth" class="label2">مكان الميلاد</label>
      <input type="text" id="placeOfBirth" placeholder="مكان الميلاد" formControlName="placeBirth" />
    </div>
    <div class="form-control">
      <label for="mobileNumber" class="label2">رقم الجوال (967+)</label>
      <input type="number" id="mobileNumber" formControlName="studentPhone" />
    </div>
  </div>

  <!-- Group 2 -->
  <div class="group group2">
    <div class="form-control">
      <label for="address" class="label2">العنوان</label>
      <input type="text" id="address" placeholder="العنوان" formControlName="studentAddress" />
    </div>
  </div>
</form>