<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <!-- تبويب ولي أمر جديد -->
  <mat-tab label="+ولي أمر جديد">
    <div id="guardian" class="group5" [formGroup]="formGroup">
      <!-- الاسم وصلة القرابة -->
      <div class="group group1">
        <div class="form-control">
          <label for="guardianName" class="label1">اسم ولي الأمر<span style="color:red;"> *</span></label>
          <input type="text" id="guardianName" formControlName="guardianFullName" />
        </div>
        <div class="form-control">
          <label for="guardianType" class="label1">صلة القرابة</label>
          <input type="text" id="guardianType" formControlName="guardianType" />
          <label *ngIf="formGroup.get('guardianType')?.hasError('required') && formGroup.get('guardianType')?.touched"
            style="color:red;">
            صلة القرابة مطلوبة
          </label>
        </div>
      </div>

      <!-- بيانات التواصل -->
      <div class="group group1">
        <div class="form-control">
          <label for="guardianEmail" class="label1">البريد الإلكتروني</label>
          <input type="email" id="guardianEmail" formControlName="guardianEmail" />
        </div>
        <div class="form-control">
          <label for="guardianPhone" class="label1">الجوال</label>
          <input type="number" formControlName="guardianPhone" placeholder="999-999-999" />
        </div>
      </div>

      <!-- تاريخ الميلاد والعنوان -->
      <div class="group group1">
        <div class="form-control">
          <label for="guardianDOB" class="label1">تاريخ الميلاد</label>
          <input type="date" id="guardianDOB" formControlName="guardianDOB" />
        </div>
        <div class="form-control">
          <label for="guardianAddress" class="label1">العنوان</label>
          <input type="text" id="guardianAddress" formControlName="guardianAddress" />
        </div>
      </div>
    </div>
  </mat-tab>

  <!-- تبويب اختيار ولي أمر موجود -->
  <mat-tab label="إختيار ولي أمر">
    <div class="group group1">
      <div class="form-control">
        <label for="existingGuardianId" class="label1">اختر ولي أمر</label>
        <select id="existingGuardianId" (change)="onGuardianChange($event)">
          <option *ngFor="let guardian of guardians" [value]="guardian.guardianID">
            {{ guardian.guardianName }}
          </option>
        </select>
      </div>
      <div class="form-control">
        <label for="guardianAddress" class="label1">العنوان</label>
        <input type="text" id="guardianAddress" disabled placeholder="العنوان سيظهر تلقائيًا" />
      </div>
    </div>
  </mat-tab>
</mat-tab-group>