:host {
  ::ng-deep {
    .p-dropdown {
      position: relative !important;
      border-radius: 8px !important;
      width: 100% !important;
      padding: 8px !important;

      &.p-focus {
        border: 2px solid #2fdf85 !important;
        box-shadow: 0 0 4px #1dc16c !important;
      }

      &:hover {
        border-color: #2fdf85 !important;
        box-shadow: 0 0 8px #2fdf85 !important;
      }

      .p-select-clear-icon {
        position: static !important;
        margin-top: 0rem;
      }
    }

    ul {
      padding-left: 0rem !important;
    }
  }
}

:host {
  ::ng-deep {
    .en {
      .p-dropdown {
        position: relative !important;
        border-radius: 8px !important;
        width: 100% !important;
        padding: 8px !important;

        &.p-focus {
          border: 2px solid #2fdf85 !important;
          box-shadow: 0 0 4px #1dc16c !important;
        }

        &:hover {
          border-color: #2fdf85 !important;
          box-shadow: 0 0 8px #2fdf85 !important;
        }

        .p-dropdown-clear-icon {
          position: initial!important;
          left: 2.5rem !important;
          margin-top: 0rem;
        }
      }

      ul {
        padding-left: 0rem !important;
      }
    }
  }
}
