<div id="Contact" class="tabcontent">

    <mat-paginator [ngStyle]="{'position': 'relative', 'top': '-10px'}"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>

  <form [formGroup]="form" class="From">
    <label for="stage" class="termName">اسـم المرحـلة</label><br />
    <select
      name="stage"
      formControlName="stage"
      id="term"
      class="term"
      value="إختار المرحلة"
    >
      <option value="" disabled selected>إختار المرحلة</option>
      
    </select>
    <label for="className" class="className">اسـم الصف</label>
    <input
      type="text"
      formControlName="grade"
      class="class"
      placeholder="إدخال اسم صـف جديد"
    />
    <input type="submit" class="btn btn-primary add" value="إضافة" />
  </form>

  <table class="styled-table" style="overflow-y: hidden; width: 105%">
    <thead>
      <tr>
        <th>#</th>
        <th>رمز الشعبة</th>
        <th>الصـف</th>
        <th>إجمالي الطلاب</th>
        <th>الحالة</th>
        <th>العملية</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let div of displayedDivisions; let i = index">
        <td>{{ currentPage * pageSize + i + 1 }}</td>
        <td>{{ div.divisionName }}</td>
        <td>{{ div.classesName }}</td>
        <td>{{ div.studentCount }}</td>
        <td>
          <div class="dropdown" (click)="toggleStateDropdown(div)">
            <span class="dropdown-toggle" data-toggle="dropdown">
              {{ div.state ? "نشط" : "خامل" }}
            </span>
            <div class="dropdown-menu">
              <span class="dropdown-item">نشط</span>
              <span class="dropdown-item">خامل</span>
            </div>
          </div>
        </td>
        <td>
          <div class="col text-left">
            <button
              class="btn btn-left"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-left">
              <a class="dropdown-item" href="#"
                ><i class="bi bi-pencil-square IconEdit"></i>تعديل</a
              >
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"
                ><i class="bi bi-trash IconDelete"></i>حذف</a
              >
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
