<ng-template #selectField>
  <p-select
    #dropdownSelect
    [inputId]="inputId"
    [styleClass]="selectControlStyleClass"
    [panelStyle]="selectPanelStyleResolved"
    [options]="filteredPanel"
    [(ngModel)]="selectedPanel"
    [ngModelOptions]="{ standalone: true }"
    [optionLabel]="optionLabelField"
    [dataKey]="suggestionDataKey"
    [showClear]="true"
    [filter]="true"
    [resetFilterOnHide]="true"
    [lazy]="lazyVirtualScroll"
    [virtualScroll]="lazyVirtualScroll"
    [virtualScrollItemSize]="virtualScrollItemSize"
    [scrollHeight]="scrollHeight"
    [placeholder]="placeholder"
    [disabled]="disabled"
    variant="outlined"
    [fluid]="true"
    dropdownIcon="pi pi-chevron-down"
    panelStyleClass="dropdown-custom__panel"
    (onShow)="onSelectShow()"
    (onFocus)="onSelectTriggerFocus()"
    (onFilter)="onSelectFilter($event)"
    (onLazyLoad)="onLazyLoad($event)"
    (onChange)="onPrimeSelectChange($event)"
    (onClear)="onClearSelection()"
  >
    <ng-template let-item pTemplate="item">
      <span class="dropdown-custom__item">
        <span class="dropdown-custom__id">#{{ suggestionRowId(item) }}</span>
        <span class="dropdown-custom__label">{{ suggestionRowLabel(item) }}</span>
      </span>
    </ng-template>
  </p-select>
</ng-template>

@if (labelKey) {
  <p-floatlabel variant="on" class="field dropdown-custom__float">
    <ng-container *ngTemplateOutlet="selectField"></ng-container>
    <label [for]="inputId">{{ labelKey | translate }}</label>
  </p-floatlabel>
} @else {
  <ng-container *ngTemplateOutlet="selectField"></ng-container>
}
