<div id="id01" class="modal-container" [attr.dir]="languageService.dir">
  <p-paginator dir="ltr" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
    [rowsPerPageOptions]="[10, 20, 30]" />
  <h2 class="school">سندات القبض</h2>
  <form>
    <div class="group group2">
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>رقم الحساب</mat-label>
          <input class="inputError" type="email" matInput />
        </mat-form-field>
      </div>
      <div class="form-control">
        <p-dropdown [options]="[
          { label: 'Cash', value: 'cash' },
          { label: 'الكريمي', value: 'visa' }
        ]" optionLabel="label" placeholder="الدفع بواسطة">
        </p-dropdown>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>من</mat-label>
          <input class="inputError" type="date" matInput />
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>إلى</mat-label>
          <input class="inputError" type="date" matInput />
        </mat-form-field>
      </div>
    </div>
    <p-button class="showFee" (onClick)="showDialog()" label="+سند قبض جديد" />
    <p-chips class="chipsOne" [max]="max" placeholder="ابحث هنا..." />
  </form>


  <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '75%' }" [draggable]="false" [resizable]="false">
    <h1 class="Title">سند قبض جديد</h1>
    <button class="button add">إضافة</button>
    <button class="button typing">طباعة</button>
    <img class="image" src="assets/images/٢٠٢٢٠٧٠٩_١٠٠٧٣٨.png" alt="photo">
    <div class="name">حازم عبدالله اليعري</div>
    <app-new-capture></app-new-capture>
  </p-dialog>

  <!-- Responsive Table -->
  <div class="table-container">
    <div class="table-container">
      <mat-card>
        <table class="styled-table">
          <thead>
            <tr>
              <th>#</th>
              <th>الحساب</th>
              <th>المبلغ</th>
              <th>البيان</th>
              <th>الدفع بواسطة</th>
              <th>تاريخ الإنشاء</th>
              <th>المرفقات</th>
              <th>العملية</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of displayedStudents">
              <td>{{ student }}</td>
              <td>حازم عبدالله اليعري</td>
              <td>20000</td>
              <td>لا يوجد</td>
              <td>Cash</td>
              <td>2025-1-1</td>
              <td>3</td>
              <td>
                <div class="col text-left">
                  <div class="mt-sm-0 mt-2">
                    <button class="btn btn-left update" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                      <a class="dropdown-item"><i class="bi bi-pencil-square IconEdit"></i>تعديل</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item"><i class="bi bi-trash IconDelete"></i>حذف</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </mat-card>
    </div>

  </div>
</div>