<div id="id01" class="modal-container" [attr.dir]="dir$ | async">
  <h2 class="school">سندات القبض</h2>
  <form>
    <div class="group group2">
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>رقم الحساب</mat-label>
          <input class="inputError" type="email" matInput />
        </mat-form-field>
      </div>
      <div class="form-control">
        <p-dropdown [options]="[
          { label: 'Cash', value: 'cash' },
          { label: 'الكريمي', value: 'visa' }
        ]" optionLabel="label" showClear="true" editable="true" placeholder="الدفع بواسطة">
        </p-dropdown>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>من</mat-label>
          <input matInput [matDatepicker]="hirePickerFrom" (focus)="hirePickerFrom.open()" />
          <mat-datepicker-toggle matSuffix [for]="hirePickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #hirePickerFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="outline" class="inputText">
          <mat-label>إلى</mat-label>
          <input matInput [matDatepicker]="hirePickerTo" (focus)="hirePickerTo.open()" />
          <mat-datepicker-toggle matSuffix [for]="hirePickerTo"></mat-datepicker-toggle>
          <mat-datepicker #hirePickerTo></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <p-button variant="outlined" severity="success" class="showFee" (onClick)="showDialog()" label="+سند قبض جديد" />
    <p-chips class="chipsOne" [max]="max" placeholder="ابحث هنا..." />
  </form>


  <p-dialog id="voucherContent" [(visible)]="visible" (visibleChange)="onDialogVisibilityChange($event)" [modal]="true"
    [style]="{ width: '75%' }" [draggable]="false" [resizable]="false">
    <app-new-capture [voucherData]="selectedVoucher" [visible]="visible"
      (visibleChange)="onDialogVisibilityChange($event)">
    </app-new-capture>
  </p-dialog>



  <!-- Responsive Table -->
  <div class="table-container">
    <div class="table-container">
      <mat-card>
        <table class="styled-table">
          <thead>
            <tr>
              <th>#</th>
              <th>الحساب</th>
              <th>المبلغ</th>
              <th>البيان</th>
              <th>الدفع بواسطة</th>
              <th>تاريخ الإنشاء</th>
              <th>المرفقات</th>
              <th>العملية</th>
            </tr>
          </thead>
          <tbody>
            @for (voucher of vouchersDisplay; track $index) {
            <tr>
              <td>{{ voucher.voucherID }}</td>
              <td>{{voucher.accountName }}</td>
              <td>{{voucher.receipt}}</td>
              <td>{{voucher.note}}</td>
              <td>{{voucher.payBy}}</td>
              <td>{{voucher.hireDate| date:'yyyy-MM-dd'}}</td>
              <td>{{voucher.accountAttachments}}</td>

              <td>
                <div class="col text-left">
                  <div class="mt-sm-0 mt-2">
                    <button class="btn btn-left update" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left">
                      <a class="dropdown-item" (click)="onEdit(voucher)">
                        <i class="bi bi-pencil-square IconEdit"></i>تعديل
                      </a>

                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item"><i class="bi bi-trash IconDelete"
                          (click)="Delete(voucher.voucherID)"></i>حذف</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            }@empty {
            <tr>
              <td colspan="7" class="empty-message">No Data available in a Table</td>
            </tr>
            }
          </tbody>
        </table>
        <p-paginator dir="ltr" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[4,10, 20]" />
      </mat-card>
    </div>

  </div>
</div>