<div id="id01" class="modal-container" [attr.dir]="dir$ | async">

    <h2 class="title">خطط المقررات</h2>

    <form [formGroup]="form">
        <div class="group group2">
            <div class="form-control">
                <p-floatLabel class="w-full h-3rem mb-3 mt-2" variant="on">
                    <p-select class="w-full h-3rem inputError" [options]="classes" [checkmark]="true" formControlName="classID"
                        optionLabel="className" optionValue="classID" [editable]="true" [showClear]="true"/>
                    <label for="classID">اختر الصف</label>
                </p-floatLabel>
            </div>

            <div class="form-control">
                <p-floatLabel class="w-full h-3rem mb-3 mt-2" variant="on">
                    <p-select class="w-full h-3rem inputError" [options]="filteredSubjects"
                        formControlName="subjectID" optionLabel="curriculumName" optionValue="subjectID"
                        [editable]="true" [showClear]="true"/>
                    <label for="subjectID">اختر المقرر</label>
                </p-floatLabel>
            </div>

            <!-- الشعبة -->
            <div class="form-control">
                <p-floatLabel class="w-full h-3rem mb-3 mt-2" variant="on">
                    <p-select class="w-full h-3rem inputError" [options]="fiteredDivisions"
                        formControlName="divisionID" optionLabel="divisionName" optionValue="divisionID"
                        [editable]="true" [showClear]="true" />
                    <label for="divisionID">اختر الشعبة</label>
                </p-floatLabel>
            </div>
        </div>

        <div class="group group2">

            <!-- المعلم -->
            <div class="form-control">
                <p-floatLabel class="w-full h-3rem mb-3 mt-2" variant="on">
                    <p-select class="w-full h-3rem inputError" [options]="teachers" formControlName="teacherID"
                        optionLabel="fullName" optionValue="teacherID" [editable]="true" [showClear]="true"/>
                    <label for="teacherID">اختر المعلم</label>
                </p-floatLabel>
            </div>

            <!-- الفصل الدراسي -->
            <div class="form-control term">
                <p-floatLabel class="w-full h-3rem mb-3 mt-2" variant="on">
                    <p-select class="w-full h-3rem inputError" [options]="terms" formControlName="termID"
                        optionLabel="name" optionValue="termID" [editable]="true" [showClear]="true" placeholder=" "/>
                    <label for="termID">اختر الفصل الدراسي</label>
                </p-floatLabel>
            </div>

        </div>

        <!-- زر الحفظ -->
        <p-button variant="outlined" severity="success" class="showFee"
            (onClick)="editMode ? updateCurriculum() : Add()" [label]="editMode ? 'تعديل' : 'إضافة خطة'">
        </p-button>
    </form>


    <!-- Responsive Table -->
    <div class="table-container">
        <mat-card>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>اسم المقرر</th>
                        <th>الشعبة</th>
                        <th>اسم المعلم</th>
                        <th>الفصل الدراسي</th>
                        <th>العام</th>
                        <th>العملية</th>
                    </tr>
                </thead>
                <tbody>
                    @for (curriculum of curriculmsPlans; track $index; let i=$index) {
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ curriculum.coursePlanName }}</td>
                        <td>{{ curriculum.divisionName }}</td>
                        <td>{{ curriculum.teacherName }}</td>
                        <td>{{ curriculum.termName }}</td>
                        <td>{{ curriculum.year | date: 'yyyy-MM-dd' }}</td>
                        <td>
                            <div class="col text-left">
                                <div class="mt-sm-0 mt-2">
                                    <button class="btn btn-left update" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" title="Actions menu">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-left">
                                        <a class="dropdown-item" (click)="editCurriculumPlan(curriculum)">
                                            <i class="bi bi-pencil-square IconEdit"></i>
                                            تعديل
                                        </a>
                                        <div role="separator" class="dropdown-divider"></div>
                                        <a class="dropdown-item" (click)="deleteCurriculmPlan(curriculum)">
                                            <i class="bi bi-trash IconDelete"></i>
                                            حذف
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }@empty {
                    <tr>
                      <td colspan="7" class="empty-message">No Data available in a Table</td>
                    </tr>
                    }
                </tbody>
            </table>
            <p-paginator dir="ltr" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                [totalRecords]="curriculmsPlan.length" [rowsPerPageOptions]="[4, 10, 20]">
            </p-paginator>
        </mat-card>
    </div>
</div>