.allotment{
    background-color: white;
}

.custom-editor {
    border: 1px solid #ccc; /* Add a border */
    border-radius: 8px; /* Rounded corners */
    padding: 8px; /* Inner padding */
  }
  
  .ql-container {
    font-family: Arial, sans-serif; /* Change font */
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Better spacing */
  }
  
  .ql-toolbar {
    background-color: #f8f9fa; /* Light background for toolbar */
    border-bottom: 1px solid #ccc; /* Add separator */
  }
  .report{
    padding-top: 1rem;
    margin-right: 2rem;
  }
  :host {
    ::ng-deep {
      .p-dropdown {
        position: relative !important;
        border-radius: 8px !important;
        width: 20% !important;
        padding: 4px !important;
  
        &.p-focus {
          border: 2px solid #2fdf85 !important;
          box-shadow: 0 0 4px #1dc16c !important;
        }
  
        &:hover {
          border-color: #2fdf85 !important;
          box-shadow: 0 0 8px #2fdf85 !important;
        }
  
        .p-dropdown-clear-icon {
          right: auto !important;
          left: 2.5rem !important;
        }
      }
  
      ul {
        padding-left: 0rem !important;
      }
    }
  }
  