.allotment{
    background-color: white;
}

.custom-editor {
    border: 1px solid #ccc; /* Add a border */
    border-radius: 8px; /* Rounded corners */
    padding: 8px; /* Inner padding */
  }
  
  .ql-container {
    font-family: Arial, sans-serif; /* Change font */
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Better spacing */
  }
  
  .ql-toolbar {
    background-color: #f8f9fa; /* Light background for toolbar */
    border-bottom: 1px solid #ccc; /* Add separator */
  }
  .report{
    padding-top: 1rem;
    margin-right: 2rem;
  }